@using CampanasDelDesierto_v1.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Campanas del Desierto</title>
    @Styles.Render("~/Content/template")
    @Styles.Render("~/Content/icons")
    @Styles.Render("~/Content/dataTables")
</head>

<body>
    
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <div class="hidden-print">
                @Html.Partial("_LoginPartial")
            </div>
            <div class="inner">
                <!-- Header -->
                <header id="header" class="hidden-print"></header>

                <!-- Banner -->
                <section id="container banner">
                    <div class="body-content">
                        @RenderBody()
                    </div>
                </section>

                <footer  class="hidden-print">
                    <p>&copy; @DateTime.Now.Year - Campanas del Desierto</p>
                </footer>
            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar" class="hidden-print">
            <div class="inner">
                <!-- Menu -->
                <nav id="menu">
                    <header class="major">                        
                        <img src="~/images/LogoCamp.png" alt="Campanas Del Desierto" class="img-responsive">
                    </header>
                   <!--< <header class="major">
                        <ul>
                            
                        </ul>
                    </header>-->
                    
                    @if (User.IsInRole(ApplicationUser.RoleNames.ADMIN))
                    {
                        <h5><strong>SISTEMA DE PRODUCTORES</strong></h5>
                   
                        <ul>
                            <li><a href="~/Productores">Productores</a></li>
                            <li><a href="~/Productos/">Productos</a></li>
                            <li><a href="~/Proveedores">Proveedores</a></li>
                            <li><a href="~/TemporadaDeCosechas">Temporadas</a></li>
                           
                        </ul>
                        <br />
                        <br />
                    }
                    <!--Rol sucursales-->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <nav id="menu">
                        <h5><strong>SISTEMA DE ACTIVOS</strong></h5>
       
                            <ul>
                                <li><a href="~/PrestamosActivos/">Prestamos de Activos</a></li>
                                <li><a href="~/Sucursales/">Sucursales</a></li>
                                <li><a href="~/Departamentos/">Departamentos</a></li>
                                <li><a href="~/Empleados/">Empleados</a></li>
                            </ul>
                        </nav>
                        <br />

                    }

                    @if (User.IsInRole(ApplicationUser.RoleNames.ADMIN))
                    {
                        <h5><strong>CONFIGURACIONES</strong></h5>
              
                        <ul>
                            <li><a href="~/AdminDepartamentos">Usuarios</a></li>
                        </ul>
                    }
                    </nav>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/template")

    @RenderSection("scripts", required: false)
</body>
</html>