@model CampanasDelDesierto_v1.Models.PrestamoActivo
<div class="col-md-12">
    @*LISTA DE LOS PRODUCTOS COMPRADOS*@
    <h4>Activos a su Resguardo</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th width="10em">
                    @Html.DisplayNameFor(model => Model.AdquisicionDeActivos.FirstOrDefault().ProductoActivo.noSerie)
                </th>
                <th width="20%">
                    @Html.DisplayNameFor(model => Model.AdquisicionDeActivos.FirstOrDefault().ProductoActivo.descripcionActivo)
                </th>
                <th width="10em">
                    @Html.DisplayNameFor(model => Model.AdquisicionDeActivos.FirstOrDefault().ProductoActivo.observacionesActivo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.AdquisicionDeActivos.FirstOrDefault().ProductoActivo.fechaPrestamo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.AdquisicionDeActivos.FirstOrDefault().ProductoActivo.fechaDevolucion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.AdquisicionDeActivos.FirstOrDefault().ProductoActivo.fechaEntregado)
                </th>            
            </tr>
        </thead>
        <tbody>
            @foreach (var activos_AD in Model.AdquisicionDeActivos)
            {
                <tr>
                    <td width="10em">
                        @Html.DisplayFor(model => activos_AD.ProductoActivo.noSerie)
                    </td>
                    <td width="20%">
                        @Html.DisplayFor(model => activos_AD.ProductoActivo.descripcionActivo)
                    </td>
                    <td width="10em">
                        @Html.DisplayFor(model => activos_AD.ProductoActivo.observacionesActivo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => activos_AD.ProductoActivo.fechaPrestamo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => activos_AD.ProductoActivo.fechaDevolucion)
                    </td>
                    <td>
                        @Html.DisplayFor(model => activos_AD.ProductoActivo.fechaEntregado)
                    </td>                  
                </tr>
            }
        </tbody>
    </table>
</div>

