@model CampanasDelDesierto_v1.Models.Productor.VMLiberacionRetencionesStatus
@using CampanasDelDesierto_v1.HerramientasGenerales
@using CampanasDelDesierto_v1.Models.SistemaProductores
@using CampanasDelDesierto_v1.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cheques de Retencion de " + Model.nombreTipoRetencion;

    VMConfirmModalAttributes vmOptionsCancel = new VMConfirmModalAttributes
    {
        action = "Cancelar",
        controller = "Retencion",
        modalID = "modalCancelarCheque",
        primaryMessage = "Si confirmar, eliminar el registro del cheque seleccionado con número <strong id='strongNumCheque'></strong>.",
        modalStyle = new VMConfirmModalAttributes.Style(VMConfirmModalAttributes.Style.StyleTypes.DANGER),
        modalTitle = "Cancelar Cheque",
        callType = VMConfirmModalAttributes.CallType.POSTBACK
    };
}

@*Modal de confirmacion de cancelacion de cheque*@
@Html.Partial("Partial_ConfirmationModal",vmOptionsCancel)

<nav>
    <a href="@Url.Action("Details","Productores",new { id = Model.productor.idProductor, temporada = Model.temporada.TemporadaDeCosechaID})">
        <i class="fa fa-arrow-left"></i><span>Volver a Movimientos del Productor</span>
    </a>
</nav>
<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="panel-primary">
            @Html.DisplayNameFor(model=>model.nombreTipoRetencion): <strong style="color:white">@Model.nombreTipoRetencion</strong>
        </span>
    </div>
    <div class="panel-body">
        <div class="form-group col-xs-3 col-xs-3">
            @Html.LabelFor(model => Model.productor.nombreProductor, new { @class = "control-label" })
            <p class="form-control-static">@Html.DisplayFor(model => Model.productor.nombreProductor)</p>
        </div>
        <div class="form-group col-xs-3 col-xs-3">
            @Html.LabelFor(model => model.montoTotalRetenido, new { @class= "control-label"})
            <p class="form-control-static">@Html.DisplayFor(model=>model.montoTotalRetenido)</p>
        </div>
        <div class="form-group col-xs-3 col-xs-3">
            @Html.LabelFor(model => model.montoAunRetenido, new { @class = "control-label" })
            <p class="form-control-static">@Html.DisplayFor(model => model.montoAunRetenido)</p>
        </div>
    </div>
</div>

@*Forma de registro de nuevo cheque para esta retencion*@
@{ 
    ViewDataDictionary vddFormCheque = new ViewDataDictionary();
    vddFormCheque.Add("estatusRetenciones", Model);
}
@Html.Partial("Form_RetencionCheque", new RetencionCheque(), vddFormCheque)

<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="panel-primary">Cheques de Liberacipon de Retenciones</span>
    </div>
    <div class="panel-body">
        @if (Model != null && Model.cheques.Count() > 0)
        {
            if (Model.isRetencionesPagadas) {
                <div class="alert alert-success">
                    Retencion pagada completamente.
                </div>
            }
        <table class="table table-hover table-striped table-responsive">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => Model.productor.cheques.FirstOrDefault().numCheque)</th>
                    <th>@Html.DisplayNameFor(model => Model.productor.cheques.FirstOrDefault().fecha)</th>
                    <th>@Html.DisplayNameFor(model => Model.productor.cheques.FirstOrDefault().monto)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.cheques) { 
                <tr>
                    <td>@Html.DisplayFor(model=>item.numCheque)</td>
                    <td>@Html.DisplayFor(model => item.fecha)</td>
                    <td>@Html.DisplayFor(model => item.monto)</td>
                    <td>
                        <a href="@Url.Action("PrintCheque",new { id = item.chequeID})" target="_blank">
                            <i class="fa fa-print"></i><span>Imprimir</span>
                        </a><span>|</span>
                        <a href="#" id_cheque="@item.chequeID" num_cheque="@item.numCheque"
                           onclick="prepararModal(this)" data-toggle="modal" data-target="#@vmOptionsCancel.modalID">
                            <i class="fa fa-remove"></i><span>Cancelar</span>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">@Html.DisplayNameFor(model=>model.montoLiberado)</th>
                    <td colspan="2">@Html.DisplayFor(model => model.montoLiberado)</td>
                </tr>
            </tfoot>
        </table>
        }
        else
        {
            <div class="alert alert-warning">
                <strong>No hay cheques</strong> registrados para esta retención.
            </div>
        }
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function prepararModal(enlace) {
            enlace = $(enlace);
            var btnConfirmar = $('#@(vmOptionsCancel.modalID) #btnConfirm');
            var strongNumCheque = $('#@(vmOptionsCancel.modalID) #strongNumCheque');
            var url = btnConfirmar.attr('href')
            url += '/'+enlace.attr('id_cheque')
            btnConfirmar.attr('href',url)
            strongNumCheque.html(enlace.attr('num_cheque'))
        }
    </script>
    @if (Model.isRetencionesPagadas)
    {
        <script>
            bloquear_forma_cheque()
        </script>
    }
}