@using CampanasDelDesierto_v1.Models
@using CampanasDelDesierto_v1.Models.SistemaProductores
@model CampanasDelDesierto_v1.Models.Productor

@{
    bool editMode = Model.idProductor > 0;
    ViewBag.Title = (editMode?"Editar": "Nuevo") + " Productor";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Se obtiene las instancias de los adeudos
    AdeudoInicial adeudoAnticipos = Model.adeudoInicialAnticipos;
    if (adeudoAnticipos == null) { adeudoAnticipos = new AdeudoInicial(); }
    AdeudoInicial adeudoArboles = Model.adeudoInicialArboles;
    if (adeudoArboles == null) { adeudoArboles = new AdeudoInicial(); }
    AdeudoInicial adeudoMateriales = Model.adeudoInicialMateriales;
    if (adeudoMateriales == null) { adeudoMateriales = new AdeudoInicial(); }
}

<div>
    <a href="@Url.Action("Index")">
        <i class="glyphicon glyphicon-arrow-left"></i> Volver a la lista de productores
    </a>
    @if (editMode) { 
         <span>|</span>
        <a href="@Url.Action("Details",new { id = Model.idProductor})">
            <i class="fa fa-money"></i> Movimientos financieros
        </a>
    }
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        @(editMode ? "Editar" : "Nuevo") Productor
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.idProductor)
            @Html.HiddenFor(model => adeudoAnticipos.idMovimiento)
            @Html.HiddenFor(model => adeudoArboles.idMovimiento)
            @Html.HiddenFor(model => adeudoMateriales.idMovimiento)

            <div class="form-horizontal">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.numProductor, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.numProductor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.numProductor, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.nombreProductor, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nombreProductor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nombreProductor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.domicilio, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.domicilio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.domicilio, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.fechaIntegracion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.fechaIntegracion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.fechaIntegracion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.poblacion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.poblacion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.poblacion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.RFC, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.zona, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.zona, Productor.getZonasSelectList(),
                           new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.zona, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.nombreCheque, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nombreCheque, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nombreCheque, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.nombreRepresentanteLegal, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nombreRepresentanteLegal, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nombreRepresentanteLegal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <fieldset>
                    <legend>Adeudos Anteriores</legend>
                    <fieldset>
                        <h4>Anticipos</h4>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => adeudoAnticipos.montoMovimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => adeudoAnticipos.montoMovimiento, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   data_mask = "###0.00",
                                   data_mask_reverse = "true",
                               }
                           })
                                @Html.ValidationMessageFor(model => adeudoAnticipos.montoMovimiento, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => adeudoAnticipos.interesInicial, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => adeudoAnticipos.interesInicial, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   data_mask = "###0.00",
                                   data_mask_reverse = "true",
                               }
                           })
                                @Html.ValidationMessageFor(model => adeudoAnticipos.interesInicial, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h4>Compras a Crédito</h4>
                        <div class="form-group col-md-6">
                            <label class = "control-label col-md-2">Adeudo por árboles de olivo</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => adeudoArboles.montoMovimiento, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   data_mask = "###0.00",
                                   data_mask_reverse = "true",
                               }
                           })
                                @Html.ValidationMessageFor(model => adeudoArboles.montoMovimiento, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-2">Adeudo por materiales</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => adeudoMateriales.montoMovimiento, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   data_mask = "###0.00",
                                   data_mask_reverse = "true",
                               }
                           })
                                @Html.ValidationMessageFor(model => adeudoMateriales.montoMovimiento, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </fieldset>
                </fieldset>

                <div class="form-group">
                    <div class="col-md-10">
                        <button class="btn btn-primary">@(editMode? "Guardar" : "Crear")</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
