@model CampanasDelDesierto_v1.Models.Productor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <h4>Productor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreProductor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreProductor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.domicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.domicilio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaIntegracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIntegracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreCheque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCheque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adeudoAnterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adeudoAnterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioCosecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioCosecha)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-10">
                <button class="btn btn-danger">Eliminar</button>
            </div>
        </div>

        <div>
            <a href="@Url.Action("Index")">
                <i class="glyphicon glyphicon-arrow-left"></i>Volver a la lista
            </a>
        </div>

    }
</div>
