@using CampanasDelDesierto_v1.Models
@model CampanasDelDesierto_v1.Models.Productor

@{
    ViewBag.Title = Model + " - Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int temporadaID = ViewBag.temporada;
    var temporadas = ViewBag.temporadas;
    TemporadaDeCosecha temporada = ViewBag.temporadaSeleccionada;
    ViewDataDictionary vddInfoProductor = new ViewDataDictionary();
    vddInfoProductor.Add("temporada", ViewBag.temporadaSeleccionada);
}

<div class="hidden-print">
    <a href="@Url.Action("Index")">
        <i class="glyphicon glyphicon-arrow-left"></i>Volver a la lista de productores
    </a><span>|</span>
    <a target="_blank" href="@Url.Action("LiquidacionFinal", "ReportesProductores", 
            new { id = temporadaID, productorID = Model.idProductor })">
        <i class="fa fa-list"></i>Reporte de Liquidación Final
    </a><span>|</span>
    <a target="_blank" href="@Url.Action("LiquidacionDeAceituna", "ReportesProductores",
                new { id = temporadaID, productorID = Model.idProductor })">
        <i class="fa fa-list"></i>Reporte de Liquidación de Aceituna
    </a>
</div>

@Html.Partial("Partial_InfoProductor", Model, vddInfoProductor)

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Movimientos</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            @*Botones para crear nuevos tipos de movimientos financieros*@
            <div class="col-md-8 hidden-print" id="pnlNuevosMovimientosBotones">
                <a class="btn btn-primary"
                   href="@Url.Action("Create", "PrestamoYAbonoCapitals", new { id = Model.idProductor, temporada = temporadaID })">
                    <i class="fa fa-handshake-o"></i> Anticipos y Abonos
                </a>
                <a class="btn btn-primary"
                   href="@Url.Action("Create", "VentaACreditos", new { id = Model.idProductor, temporada = temporadaID })">
                    <i class="fa fa-shopping-cart"></i> Venta de Material
                </a>
                <a class="btn btn-primary"
                   href="@Url.Action("IngresoProducto", "PagosPorProductos", new { id = Model.idProductor, temporada = temporadaID })">
                    <i class="glyphicon glyphicon-grain"></i> Ingreso de producto
                </a>
                <a class="btn btn-primary"
                   href="@Url.Action("Create", "LiquidacionSemanal", new { id = Model.idProductor, temporada = temporadaID })">
                    <i class="fa fa-credit-card"></i> Liquidacion Semanal
                </a>
            </div>

            <div class="col-md-4 hidden-print">
                @using (Html.BeginForm("Details", "Productores", FormMethod.Post,
                new { @class = "form-inline pull-right" }))
                {
                    <div class="form-group">
                        <label for="temporadas">
                            Periodo de Cosecha
                        </label>
                        @Html.DropDownList("temporada", new SelectList(temporadas, "TemporadaDeCosechaID",
                    "rangoTiempo", temporadaID), new { @class = "form-control", onchange = "submitBusqueda(this)" })
                    </div>
                }
            </div>
        </div>
        @*Prestamos y abonos*@
        <h4 class="hdrTitle">@MovimientoFinanciero.getNombreDeTipoBalance(MovimientoFinanciero.TipoDeBalance.CAPITAL_VENTAS)</h4>
        <div class="row">
            @Html.Partial("../MovimientoFinancieros/Partial_ListarMovimientosAnticipos")
        </div>

        @*Ventas de arbol de olivo*@
        <h4 class="hdrTitle">@MovimientoFinanciero.getNombreDeTipoBalance(MovimientoFinanciero.TipoDeBalance.VENTA_OLIVO)</h4>
        <div class="row">
            @Html.Partial("../MovimientoFinancieros/Partial_ListVentaOlivo")
            <div class="pull-right" style="padding-right:2em">
                <span><strong style="color:red">TOTAL DE DEUDA: </strong>
                @Math.Abs(Model.totalDeudaVentaArbolitoPorTemporada(temporada.TemporadaDeCosechaID)).ToString("C")</span> |
                <span><strong style="color:red">TOTAL DE ABONO: </strong>
                @Math.Abs(Model.totalAbonoArbolitoPorTemporada(temporada.TemporadaDeCosechaID)).ToString("C")</span>
            </div>
        </div>

        @*Ingresos de productos y liquidaciones*@
        <h4 class="hdrTitle">@MovimientoFinanciero.getNombreDeTipoBalance(MovimientoFinanciero.TipoDeBalance.MOV_LIQUIDACION)</h4>
        <div class="row">
            @Html.Partial("../MovimientoFinancieros/Partial_ListIngresosLiquidaciones")
        </div>
        <div class="pull-right" style="padding-right:2em">
            <span><strong style="color:red">TOTAL DE INGRESOS: </strong>@Model.totalIngresos.ToString("C")</span> |
            <span><Strong style="color:red">TOTAL LIQUIDADO: </Strong>@Model.totalLiquidacion.ToString("C")</span> |
            <span><Strong style="color:red">TOTAL RETENIDO: </Strong>@Model.totalRetenido.ToString("C")</span>
        </div>
    </div>
</div>
@Html.Partial("Partial_LineaFirmaReportes")
<style>
    /*extensión CSS no estándar para forzar la impresión*/
    .panel-heading {
        background-color:#31708f !important;
        -webkit-print-color-adjust:exact;
    }

    @@media print{
        table#tblBalanceAnticipos td{
            font-size: .7em;
        }
    }
</style>
