@using CampanasDelDesierto_v1.Models
@model CampanasDelDesierto_v1.Models.Productor

@{
    ViewBag.Title = "Productor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int temporadaID = ViewBag.temporada;
    var temporadas = ViewBag.temporadas;
    ViewDataDictionary vddInfoProductor = new ViewDataDictionary();
    vddInfoProductor.Add("temporada", ViewBag.temporadaSeleccionada);
}

<div>
    <a href="@Url.Action("Index")">
        <i class="glyphicon glyphicon-arrow-left"></i>Volver a la lista de productores
    </a>
</div>

@Html.Partial("Partial_InfoProductor", Model, vddInfoProductor)

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Movimientos</h2>
    </div>
    <div class="panel-body">
        @*Botones para crear nuevos tipos de movimientos financieros*@
        <div class="col-md-8 hidden-print" id="pnlNuevosMovimientosBotones">
            <a class="btn btn-primary"
               href="@Url.Action("Create", "PrestamoYAbonoCapitals", new { id = Model.idProductor, temporada = temporadaID })">
                <i class="fa fa-handshake-o"></i> Anticipos y Abonos
            </a>
            <a class="btn btn-primary"
               href="@Url.Action("Create", "VentaACreditos", new { id = Model.idProductor, temporada = temporadaID })">
                <i class="fa fa-shopping-cart"></i> Venta de Material
            </a>
            <a class="btn btn-primary"
               href="@Url.Action("IngresoProducto", "PagosPorProductos", new { id = Model.idProductor, temporada = temporadaID })">
                <i class="glyphicon glyphicon-grain"></i> Ingreso de producto
            </a>
            <a class="btn btn-primary"
               href="@Url.Action("Create", "LiquidacionSemanal", new { id = Model.idProductor, temporada = temporadaID })">
                <i class="fa fa-credit-card"></i> Liquidacion Semanal
            </a>
        </div>

        <div class="col-md-4 hidden-print">
            @using (Html.BeginForm("Details", "Productores", FormMethod.Post,
                    new { @class = "form-inline pull-right" }))
            {
                <div class="form-group">
                    <label for="temporadas">
                        Periodo de Cosecha
                    </label>
                    @Html.DropDownList("temporada", new SelectList(temporadas, "TemporadaDeCosechaID",
                    "rangoTiempo", temporadaID), new { @class = "form-control", onchange = "submitBusqueda(this)" })
                </div>
            }
        </div>
        @*Prestamos y abonos*@
        <div class="row">
            <h4>@MovimientoFinanciero.getNombreDeTipoBalance(MovimientoFinanciero.TipoDeBalance.CAPITAL_VENTAS)</h4>
            @Html.Partial("../MovimientoFinancieros/Partial_ListMovimientos")
        </div>

        @*Ventas de arbol de olivo*@
        <div class="row">
            <h4>@MovimientoFinanciero.getNombreDeTipoBalance(MovimientoFinanciero.TipoDeBalance.VENTA_OLIVO)</h4>
            @Html.Partial("../MovimientoFinancieros/Partial_ListVentaOlivo")
        </div>

        @*Ingresos de productos y liquidaciones*@
        <div class="row">
            <h4>@MovimientoFinanciero.getNombreDeTipoBalance(MovimientoFinanciero.TipoDeBalance.MOV_LIQUIDACION)</h4>
            @Html.Partial("../MovimientoFinancieros/Partial_ListIngresosLiquidaciones")
        </div>
    </div>
</div>