@model CampanasDelDesierto_v1.Models.Productor
@using CampanasDelDesierto_v1.Models
@{ 
    TemporadaDeCosecha temporada=null;
    if (ViewData["temporada"] != null)
    {
        temporada = (TemporadaDeCosecha)ViewData["temporada"];
    }
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@Model.numProductor:</strong> @(Model.nombreProductor)
            @if (temporada != null) {
                <span class="pull-right">
                    @Html.LabelFor(model=>temporada.rangoTiempo):
                    @Html.DisplayFor(model => temporada.rangoTiempo)
                </span>
            }
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <dl class="dl-horizontal col-md-6">
                <dt>@Html.DisplayNameFor(model => model.domicilio)</dt>
                <dd>@Html.DisplayFor(model => model.domicilio) </dd>

                <dt> @Html.DisplayNameFor(model => model.fechaIntegracion)</dt>
                <dd> @Model.fechaIntegracion.ToString("dd/MMMM/yyyy") </dd>

                <dt> @Html.DisplayNameFor(model => model.RFC)</dt>
                <dd> @Html.DisplayFor(model => model.RFC)  </dd>
            </dl>
            <dl class="dl-horizontal col-md-6">
                <dt> @Html.DisplayNameFor(model => model.zona) </dt>
                <dd> @Html.DisplayFor(model => model.zona)  </dd>

                <dt> @Html.DisplayNameFor(model => model.nombreCheque)   </dt>
                <dd> @Html.DisplayFor(model => model.nombreCheque) </dd>

                <dt> @Html.DisplayNameFor(model => model.nombreRepresentanteLegal)   </dt>
                <dd> @Html.DisplayFor(model => model.nombreRepresentanteLegal) </dd>
            </dl>
        </div>
       
        
            <a href="@Url.Action("Edit","Productores",new { id = Model.idProductor })">
                <i class="glyphicon glyphicon-pencil"></i> Editar
            </a><br />
        
</div>
</div>
