@model CampanasDelDesierto_v1.Models.Productor
@using CampanasDelDesierto_v1.Models
@{ 
    TemporadaDeCosecha temporada=null;
    if (ViewData["temporada"] != null)
    {
        temporada = (TemporadaDeCosecha)ViewData["temporada"];
    }

    bool resumido = ViewData["resumido"] == null ? false : (bool)ViewData["resumido"];
}

@if (temporada != null)
{
    <span class="pull-right">
        @Html.LabelFor(model => temporada.rangoTiempo):
        @Html.DisplayFor(model => temporada.rangoTiempo)
    </span>
}
<div class="panel panel-info">
    <div  class="panel-heading">
        <h2 class="panel-title" >
                <strong>@Model.numProductor:</strong> @(Model.nombreProductor)
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.zona, new { @class = "control-label" })
                <p class="form-control-static">@Html.DisplayFor(model => model.zona)</p>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.domicilio, new { @class = "control-label" })
                <p class="form-control-static">@Html.DisplayFor(model => model.domicilio)</p>
            </div>
            @if (!resumido) { 
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.RFC, new { @class = "control-label" })
                <p class="form-control-static">@Html.DisplayFor(model => model.RFC)</p>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.fechaIntegracion, new { @class = "control-label" })
                <p class="form-control-static">@Html.DisplayFor(model => model.fechaIntegracion)</p>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.nombreCheque, new { @class = "control-label" })
                <p class="form-control-static">@Html.DisplayFor(model => model.nombreCheque)</p>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.nombreRepresentanteLegal, new { @class = "control-label" })
                <p class="form-control-static">@Html.DisplayFor(model => model.nombreRepresentanteLegal)</p>
            </div>
            }
        </div>

        <a class="hidden-print" href="@Url.Action("Edit","Productores",new { id = Model.idProductor })">
            <i class="glyphicon glyphicon-pencil"></i> Editar
        </a>
    </div>


</div>
