@model CampanasDelDesierto_v1.Models.Productor

<div>
    <div class="row">
        <dl class="dl-horizontal col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.nombreProductor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombreProductor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.domicilio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.domicilio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fechaIntegracion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaIntegracion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RFC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RFC)
            </dd>
        </dl>
        <dl class="dl-horizontal col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.zona)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.zona)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nombreCheque)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombreCheque)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.adeudoAnterior)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.adeudoAnterior)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.precioCosecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.precioCosecha)
            </dd>

        </dl>
    </div>
</div>
    <p>
        @Html.ActionLink("Editar","Edit","Productores",new { id = Model.idProductor },null)
    </p>
