@model CampanasDelDesierto_v1.Models.Departamento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Edit","Departamentos",new { id = Model.departamentoID })">
    <i class="glyphicon glyphicon-pencil"></i> Editar
</a>
<a href="@Url.Action("Index","Departamentos",new { id = Model.departamentoID })">
    <i class="glyphicon glyphicon-arrow-left"></i> Volver
</a><br />
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><Strong>Departamento: </Strong>@(Model.nombreDepartamento)</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <dl class="dl-horizontal col-md-6">
                <dt>@Html.DisplayNameFor(model => model.Sucursal.nombreSucursal)</dt>
                <dd>@Html.DisplayFor(model => model.Sucursal.nombreSucursal) </dd>

                <dt> @Html.DisplayNameFor(model => model.domicilio)</dt>
                <dd> @Html.DisplayFor(model => model.domicilio) </dd>

                <dt> Activos Disponibles</dt>
                <dd> @Model.activosDisponibles()  </dd>
            </dl>
        </div>
    </div>
</div>

<div class="">
    <legend>Empleados</legend>


    <div>
        <table class="table datablejs">
            <thead>
                <tr>
                    <th>Nombre Empleado</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Prestamos</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var empleado in Model.Empleados)
            {
                    <tr>
                        <td>@(empleado.nombre)</td>
                        <td>@empleado.apellidoPaterno</td>
                        <td>@empleado.apellidoMaterno</td>
                        <td>@empleado.PrestamosActivos.Count()</td>
                        <td>
                            <a href="@Url.Action("Delete", "Empleados", new { id = empleado.idEmpleado})">
                            <i class="glyphicon glyphicon-remove"></i> Eliminar
                            </a><br />
                            <a href="@Url.Action("Details", "Empleados", new { id = empleado.idEmpleado })">
                            <i class="glyphicon glyphicon-eye-open"></i> Detalles
                            </a><br />
                            <a href="@Url.Action("Edit", "Empleados", new { id = empleado.idEmpleado })">
                            <i class="glyphicon glyphicon-pencil"></i> Editar
                            </a><br />
                            <a href="@Url.Action("Create", "PrestamosActivos", new { id = empleado.idEmpleado })">
                            <i class="fa fa-money"></i> Prestamo
                            </a><br />
                        </td>                        
                    </tr>
                }
            </tbody>


        </table>



    </div>
</div>
<div>
    @Html.ActionLink("Crear Empleado", "Create", "Empleados", new { id = Model.departamentoID }, new { @class = "btn btn-primary" })
</div>
