@model CampanasDelDesierto_v1.Models.Departamento

@{
    ViewBag.Title = "Inventarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Edit","Departamentos",new { id = Model.departamentoID })">
    <i class="glyphicon glyphicon-pencil"></i> Editar
</a>
<a href="@Url.Action("Index","Departamentos",new { id = Model.departamentoID })">
    <i class="glyphicon glyphicon-pencil"></i> Volver
</a><br />
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><Strong>Departamento: </Strong>@(Model.nombreDepartamento)</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <dl class="dl-horizontal col-md-6">
                <dt>@Html.DisplayNameFor(model => model.Sucursal.nombreSucursal)</dt>
                <dd>@Html.DisplayFor(model => model.Sucursal.nombreSucursal) </dd>

                <dt> @Html.DisplayNameFor(model => model.domicilio)</dt>
                <dd> @Html.DisplayFor(model => model.domicilio) </dd>

                <dt> Activos Disponibles</dt>
                <dd> @Model.activosDisponibles()  </dd>
            </dl>           
        </div>
    </div>
</div>

<h2>Inventarios</h2>
<div>@Html.ActionLink("Crear Inventario", "Create", "Inventarios", new { id = Model.departamentoID }, new { @class = "" })</div>
<table class="table datablejs">
    <thead>
        <tr>
            <th>Nombre Inventario</th>
            <th>Nombre Departamento </th>
            <th>Activos disponibles</th>            
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inventario in Model.Inventarios)
            {
            <tr>
                <td>@(inventario.nombreInventario)</td>
                <td>@inventario.Departamento.nombreDepartamento</td>
                <td>@inventario.cantidadActivosDisponibles()</td>                
                <td>@Html.ActionLink("Eliminar", "Delete", "Inventarios", new { id = inventario.inventarioID }, null)  </td>
                <td>@Html.ActionLink("Ver Activos", "Details", "Inventarios", new { id = inventario.inventarioID }, null)  </td>               
            </tr>
        }
    </tbody>

</table>
<div>
    
</div>
