@model CampanasDelDesierto_v1.Models.PrestamoActivo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Message = "";
}
<p>
    <a href="@Url.Action("Details","Departamentos", new { id = Model.Empleado.departamentoID})">
        <i class="glyphicon glyphicon-arrow-left"></i>Regresar
    </a>
    <a href="@Url.Action("Edit","Departamentos",new { id = Model.idEmpleado })">
        <i class="glyphicon glyphicon-pencil"></i> Editar
    </a>    
</p>

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><Strong>Empleado: </Strong>@(Model.Empleado.nombre+" "+Model.Empleado.apellidoPaterno+" "+Model.Empleado.apellidoMaterno)</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <dl class="dl-horizontal col-md-6">
                <dt>@Html.DisplayNameFor(model => model.Empleado.apellidoPaterno)</dt>
                <dd>@Html.DisplayFor(model => model.Empleado.apellidoPaterno) </dd>

                <dt> @Html.DisplayNameFor(model => model.Empleado.apellidoMaterno)</dt>
                <dd> @Html.DisplayFor(model => model.Empleado.apellidoMaterno) </dd>
            </dl>
            <dl class="dl-horizontal col-md-6">
                <dt>@Html.DisplayNameFor(model => model.Empleado.Departamento.nombreDepartamento)</dt>
                <dd>@Html.DisplayFor(model => model.Empleado.Departamento.nombreDepartamento) </dd>

                <dt> @Html.DisplayNameFor(model => model.Empleado.Departamento.Sucursal.nombreSucursal)</dt>
                <dd> @Html.DisplayFor(model => model.Empleado.Departamento.Sucursal.nombreSucursal) </dd>

            </dl>
        </div>
    </div>
</div>

<h2>Prestamo</h2>
        <hr />
        <div id="mensajes" class="container"></div><br />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.idEmpleado)
    <div class="form-horizontal">        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.fechaPrestamoActivo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaPrestamoActivo, new { htmlAttributes = new { @class = "form-control", id = "FechaI" } })
                @Html.ValidationMessageFor(model => model.fechaPrestamoActivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaEntregaActivo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaEntregaActivo, new { htmlAttributes = new { @class = "form-control", id = "FechaF" } })
                @Html.ValidationMessageFor(model => model.fechaEntregaActivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaDevolucion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaDevolucion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaDevolucion, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.idEmpleado, "idEmpleado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idEmpleado", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.idActivo, "Activo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
                @Html.DropDownList("idActivo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idActivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button disabled type="submit" id="Buscar" class="btn btn-success">Crear</button>
            </div> 
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

     //Validacion texbox llenados y habilitacion de boton buscar
     $("#FechaI").change(function () {
         var fech1 = document.getElementById("FechaI").value;
         var fech2 = document.getElementById("FechaF").value;

         if (fech2 == "") {
             $('#Buscar').attr('disabled', true)
         }
         else
         {
             $('#Buscar').attr('disabled', false)
         }
         //Valida los rangos
         if ((Date.parse(fech1)) > (Date.parse(fech2))) {
             $('#mensaje').remove();
             $('#mensajes').append("<div id='mensaje' class='alert alert-danger'>La Fecha de Entrega no puede ser menor a la fecha final</div>");
             if ($('#Buscar').attr('disabled', true)) {

             }
             else {
                 $('#Buscar').attr('disabled', true)
             }
         }
         else
         {
             $('#mensaje').remove();
             $('#mensajes').append("<div id='mensaje' class='alert alert-success'>¡Las fechas son adecuadas!</div>");
         }
     });
     $("#FechaF").change(function () {
         var fech1 = document.getElementById("FechaI").value;
         var fech2 = document.getElementById("FechaF").value;
         if (fech1 == "") {
             $('#Buscar').attr('disabled', true)
         }
         else
         {
             $('#Buscar').attr('disabled', false)
         }
         //Valida los rangos
         if ((Date.parse(fech1)) > (Date.parse(fech2))) {
             $('#mensaje').remove();
             $('#mensajes').append("<div id='mensaje' class='alert alert-danger'>La Fecha de Entrega no puede ser menor a la fecha final</div>");
             if ($('#Buscar').attr('disabled', true)) {

             }
             else {

                 $('#Buscar').attr('disabled', true)
             }
         }
         else
         {
             $('#mensaje').remove();
             $('#mensajes').append("<div id='mensaje' class='alert alert-success'>¡Las fechas son adecuadas!</div>");
         }
     });

    </script>
}

