@model CampanasDelDesierto_v1.Models.PrestamoActivo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="@Url.Action("Details","Empleados",new { id = Model.idEmpleado })">
        <i class="fa fa-arrow-circle-left"></i> Regresar
    </a>
    <a href="@Url.Action("Edit",new { id = Model.idEmpleado })">
        <i class="glyphicon glyphicon-pencil"></i> Editar
    </a>

</p>
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>Empleado:</strong> @(Model.Empleado.nombre + " " + Model.Empleado.apellidoPaterno + " " + Model.Empleado.apellidoMaterno)</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Empleado.Departamento.Sucursal.nombreSucursal)
                <p class="form-control-static">@Html.DisplayFor(model => model.Empleado.Departamento.Sucursal.nombreSucursal)</p>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Empleado.Departamento.nombreDepartamento)
                <p class="form-control-static">@Html.DisplayFor(model => model.Empleado.Departamento.nombreDepartamento)</p>
            </div>
            <div class="form-group col-md-4">
                <label>Activo Prestado:</label>
                <p class="form-control-static">@Html.DisplayFor(model => model.Activo.nombreActivo)</p>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.fechaPrestamoActivo)
                <p class="form-control-static">@Html.DisplayFor(model => model.fechaPrestamoActivo)</p>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.fechaEntregaActivo)
                <p class="form-control-static">@Html.DisplayFor(model => model.fechaEntregaActivo)</p>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.fechaDevolucion)
                <p class="form-control-static">@Html.DisplayFor(model => model.fechaDevolucion)</p>
            </div>
        </div>
    </div>
</div>
