@model IEnumerable<CampanasDelDesierto_v1.Models.PrestamoActivo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Prestamos Activos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activo.nombreActivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaPrestamoActivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaEntregaActivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaDevolucion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Activo.nombreActivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaPrestamoActivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEntregaActivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaDevolucion)
        </td>
        <td>
            <a href="@Url.Action("Edit","PrestamosActivos",new { id = item.idPrestamoActivo })">
                <i class="glyphicon glyphicon-pencil"></i> Editar
            </a><br />
            <a href="@Url.Action("Details", "PrestamosActivos", new { id = item.idPrestamoActivo })">
                <i class="glyphicon glyphicon-eye-open"></i> Detalles
            </a><br />
            <a href="@Url.Action("Delete","PrestamosActivos",new { id = item.idPrestamoActivo })">
                <i class="glyphicon glyphicon-remove"></i> Eliminar
            </a>


        </td>
    </tr>
}

</table>
