@model IEnumerable<CampanasDelDesierto_v1.Models.PrestamoActivo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prestamos de Activos</h2>
@using (Html.BeginForm("Index","PrestamosActivos",FormMethod.Post, new { id="formulario"}))
{

    <div class="row form-group">
        <div>@Html.TextBox("FechaI", "dd/mm/yyyy", new { @class = "form-control", type = "Date", id = "FechaI", name="FechaI"})</div>
        <div>@Html.TextBox("FechaF", "dd/mm/yyyy", new { @class = "form-control", type = "Date", id = "FechaF", name = "FechaF" })</div>
        <div><button disabled id="Buscar" name="Buscar" type="submit" onclick="compararFechas('FechaI','FechaF');" class="btn btn-primary">Buscar</button></div>
        
        <div class="row">
            <h4>
                <a href="@Url.Action("Index","PrestamosActivos")">
                    <i class="glyphicon glyphicon-repeat"></i>
                </a><br />
            </h4>
        </div>
    </div>
    <div id="mensajes" class="form-group col-md-4"></div><br />
}
<p>
    <a href="@Url.Action("Create")">
        <i class="glyphicon glyphicon-plus"></i> Crear Prestamo
    </a>
</p>
<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.Empleado.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaPrestamoActivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaEntregaActivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaDevolucion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>     
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaPrestamoActivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEntregaActivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaDevolucion)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id=item.idPrestamoActivo })">
                <i class="glyphicon glyphicon-pencil"></i> Editar
            </a> <br />
            <a href="@Url.Action("Details", new { id=item.idPrestamoActivo })">
                <i class="glyphicon glyphicon-eye-open"></i> Detalles
            </a> <br />
            <a href="@Url.Action("Delete", new { id=item.idPrestamoActivo })">
                <i class="glyphicon glyphicon-remove"></i> Eliminar
            </a>            
        </td>
    </tr>
}

</table>
@section Scripts{
 <script>
     
     //Validacion texbox llenados y habilitacion de boton buscar
     $("#FechaI").change(function () {
         var fech1 = document.getElementById("FechaI").value;
         var fech2 = document.getElementById("FechaF").value;
        
         if (fech2 == "") {
             $('#Buscar').attr('disabled', true)
         }
         else
         {
             $('#Buscar').attr('disabled', false)
         }
         //Valida los rangos
         if ((Date.parse(fech1)) > (Date.parse(fech2))) {
             $('#mensaje').remove();
             $('#mensajes').append("<div id='mensaje' class='alert alert-danger'>La fecha inicial no puede ser mayor a la fecha final</div>");
             if ($('#Buscar').attr('disabled', true)) {

             }
             else {
                 $('#Buscar').attr('disabled', true)
             }
         }
         else
         {
             $('#mensaje').remove();
             $('#mensajes').append("<div id='mensaje' class='alert alert-success'>El rango de fechas es correcto</div>");
         }
     });
     $("#FechaF").change(function () {
         var fech1 = document.getElementById("FechaI").value;
         var fech2 = document.getElementById("FechaF").value;
         if (fech1 == "") {
             $('#Buscar').attr('disabled', true)
         }
         else
         {
             $('#Buscar').attr('disabled', false)
         }
         //Valida los rangos
         if ((Date.parse(fech1)) > (Date.parse(fech2))) {
             $('#mensaje').remove();
             $('#mensajes').append("<div id='mensaje' class='alert alert-danger'>La fecha inicial no puede ser mayor a la fecha final</div>");
             if ($('#Buscar').attr('disabled', true)) {

             }
             else {

                 $('#Buscar').attr('disabled', true)
             }
         }
         else
         {
             $('#mensaje').remove();
             $('#mensajes').append("<div id='mensaje' class='alert alert-success'>El rango de fechas es correcto</div>");
         }
     });
    
</script>
    }