@using CampanasDelDesierto_v1.Models
@model IEnumerable<ReportesViewModels.VMAdeudosRecuperacionDetallado>
@{
    ViewBag.Title = "Reporte de Adeudo y Recuperación Detallado";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Se determina el año de la cosecha anterior
    TemporadaDeCosecha temporada = ViewBag.temporada;
    TemporadaDeCosecha temporadaAnterior = ViewBag.temporadaAnterior;
    //Se determina el año de la temporada anterior, si no existe temporada anterior, se toma el año de la fecha inicial de la temporada actual
    int anioAnterior = temporadaAnterior == null ? temporada.fechaInicio.Year : temporadaAnterior.fechaFin.Year;

    //Se calcula el registro de sumas totales de todos los campos
    ReportesViewModels.VMAdeudosRecuperacionDetallado rowTotales =
        ReportesViewModels.VMAdeudosRecuperacionDetallado.calcularTotales(Model.ToList());
}

<p class="hidden-print">
    <a href="@Url.Action("Index","TemporadaDeCosechas")">
        <i class="glyphicon glyphicon-arrow-left"></i> Historial de Temporadas
    </a>
</p>
<h2>@ViewBag.Title</h2>

<h3>@temporada.ToString().ToUpper()</h3>
<table id="tblReporteDetallado" class="table table-hover table-striped table-responsive">
    @***Encabezado del reporte***@
    <thead>
        <tr>
            @*<th>Num. Prod.</th>*@
            <th>Productor</th>
            @*Adeudos*@
            <th class="monto-cosecha-anterior">@Html.DisplayNameFor(model => model.adeudoAnteriorCosecha) @(anioAnterior)</th>
            <th class="monto-cosecha-anterior">@Html.DisplayNameFor(model => model.adeudoInteresAnteriorCosecha) @(anioAnterior)</th>
            <th class="monto-cosecha-anterior">@Html.DisplayNameFor(model => model.adeudoVentaCreditoAnteriorCosecha) @(anioAnterior)</th>
            <th>@Html.DisplayNameFor(model => model.anticiposEfectivo)</th>
            <th>@Html.DisplayNameFor(model => model.interes)</th>
            <th>@Html.DisplayNameFor(model => model.ventasCredito)</th>
            <th class="totalAdeudos">@Html.DisplayNameFor(model => model.totalAdeudos)</th>

            @*Pagos*@
            <th>@Html.DisplayNameFor(model => model.adeudoRecuperado)</th>
            <th>@Html.DisplayNameFor(model => model.interesAbonado)</th>
            <th class="deuda">@Html.DisplayNameFor(model => model.saldoPorRecuperar)</th>
            <td style="width:5px; background-color: white;
                border-left: 1px solid black; border-right: 1px solid black;"></td>

            @*Cosechas*@
            <th>@Html.DisplayNameFor(model => model.toneladasManzanita)</th>
            <th>@Html.DisplayNameFor(model => model.toneladasMission)</th>
            <th>@Html.DisplayNameFor(model => model.toneladasObliza)</th>
            @if (Model.Sum(mov => mov.toneladasManzanitaOrg) > 0)
            {<th>@Html.DisplayNameFor(model => model.toneladasManzanitaOrg)</th>}
            @if (Model.Sum(mov => mov.toneladasMissionOrg) > 0) { 
            <th>@Html.DisplayNameFor(model => model.toneladasMissionOrg)</th>}
            @if (Model.Sum(mov => mov.toneladasOblizaOrg) > 0) { 
            <th>@Html.DisplayNameFor(model => model.toneladasOblizaOrg)</th>
            }
            <th>@Html.DisplayNameFor(model => model.totalAceituna)</th>
            <th>@Html.DisplayNameFor(model => model.pagoAceitunaCosecha)</th>
            <td style="width:5px; background-color: white;
                border-left: 1px solid black; border-right: 1px solid black;"></td>

            @*Deudas de arbolitos*@
            <th class="monto-cosecha-anterior">@Html.DisplayNameFor(model => model.adeudoVentaArbolesAnteriorCosecha) @(anioAnterior)</th>
            <th>@Html.DisplayNameFor(model => model.adeudoArboles)</th>
            <th>@Html.DisplayNameFor(model => model.abonoArbolitos)</th>
            <th class="deuda">@Html.DisplayNameFor(model => model.adeudoArbolitosPorRecuperar)</th>
            <td style="width:5px; background-color: white;
                border-left: 1px solid black; border-right: 1px solid black;"></td>

            @*Retenciones*@
            <th>@Html.DisplayNameFor(model => model.retencionSanidadVegetal)</th>
            @if (Model.Sum(mov => mov.retencionEjidal) > 0) { 
            <th>@Html.DisplayNameFor(model => model.retencionEjidal)</th>}
            @if (Model.Sum(mov => mov.retencionesOtras) > 0)
            {<th>@Html.DisplayNameFor(model => model.retencionesOtras)</th>}
        </tr>
    </thead>
    <tbody>
        @***Renglon de totales***@
        <tr class="rowTotales">
            <td>TOTALES</td>
            @*Adeudos*@
            <td class="monto-cosecha-anterior">@Html.DisplayFor(model => rowTotales.adeudoAnteriorCosecha) </td>
            <td class="monto-cosecha-anterior">@Html.DisplayFor(model => rowTotales.adeudoInteresAnteriorCosecha) </td>
            <td class="monto-cosecha-anterior">@Html.DisplayFor(model => rowTotales.adeudoVentaCreditoAnteriorCosecha) </td>
            <td>@Html.DisplayFor(model => rowTotales.anticiposEfectivo)</td>
            <td>@Html.DisplayFor(model => rowTotales.interes)</td>
            <td>@Html.DisplayFor(model => rowTotales.ventasCredito)</td>
            <td class="totalAdeudos">@Html.DisplayFor(model => rowTotales.totalAdeudos)</td>
            <td>@Html.DisplayFor(model => rowTotales.adeudoRecuperado)</td>
            <td>@Html.DisplayFor(model => rowTotales.interesAbonado)</td>
            <td class="deuda">@Html.DisplayFor(model => rowTotales.saldoPorRecuperar)</td>
            <td style="width:5px; background-color: white;
                border-left: 1px solid black; border-right: 1px solid black;"></td>

            @*Cosechas*@
            <td>@Html.DisplayFor(model => rowTotales.toneladasManzanita)</td>
            <td>@Html.DisplayFor(model => rowTotales.toneladasMission)</td>
            <td>@Html.DisplayFor(model => rowTotales.toneladasObliza)</td>
            @if (Model.Sum(mov => mov.toneladasManzanitaOrg) > 0)
            {<td>@Html.DisplayFor(model => rowTotales.toneladasManzanitaOrg)</td>}
            @if (Model.Sum(mov => mov.toneladasMissionOrg) > 0)
            {<td>@Html.DisplayFor(model => rowTotales.toneladasMissionOrg)</td>}
            @if (Model.Sum(mov => mov.toneladasOblizaOrg) > 0)
            {<td>@Html.DisplayFor(model => rowTotales.toneladasOblizaOrg)</td>}
            <td>@Html.DisplayFor(model => rowTotales.totalAceituna)</td>
            <td>@Html.DisplayFor(model => rowTotales.pagoAceitunaCosecha)</td>
            <td style="width:5px; background-color: white;
                border-left: 1px solid black; border-right: 1px solid black;"></td>

            @*Arbolitos*@
            <td class="monto-cosecha-anterior">@Html.DisplayFor(model => rowTotales.adeudoVentaArbolesAnteriorCosecha)</td>
            <td>@Html.DisplayFor(model => rowTotales.adeudoArboles)</td>
            <td>@Html.DisplayFor(model => rowTotales.abonoArbolitos)</td>
            <td class="deuda">@Html.DisplayFor(model => rowTotales.adeudoArbolitosPorRecuperar)</td>
            <td style="width:5px; background-color: white;
                border-left: 1px solid black; border-right: 1px solid black;"></td>

            @*Retenciones*@
            <td>@Html.DisplayFor(model => rowTotales.retencionSanidadVegetal)</td>
            @if (Model.Sum(mov => mov.retencionEjidal) > 0)
            {<td>@Html.DisplayFor(model => rowTotales.retencionEjidal)</td>}
            @if (Model.Sum(mov => mov.retencionesOtras) > 0)
            {<td>@Html.DisplayFor(model => rowTotales.retencionesOtras)</td>}

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details","Productores", new { id = item.productor.idProductor })" 
                       class="hidden-print" target="_blank">@item.productor</a>
                    <span class="visible-print">@item.productor</span>
                </td>
                
                @*Adeudos*@
                <td class="monto-cosecha-anterior">@Html.DisplayFor(model => item.adeudoAnteriorCosecha)</td>
                <td class="monto-cosecha-anterior">@Html.DisplayFor(model => item.adeudoInteresAnteriorCosecha)</td>
                <td class="monto-cosecha-anterior">@Html.DisplayFor(model => item.adeudoVentaCreditoAnteriorCosecha)</td>
                <td>@Html.DisplayFor(model => item.anticiposEfectivo)</td>
                <td>@Html.DisplayFor(model => item.interes)</td>
                <td>@Html.DisplayFor(model => item.ventasCredito)</td>
                <td class="totalAdeudos">@Html.DisplayFor(model => item.totalAdeudos)</td>
                <td>@Html.DisplayFor(model => item.adeudoRecuperado)</td>
                <td>@Html.DisplayFor(model => item.interesAbonado)</td>
                <td class="deuda">@Html.DisplayFor(model => item.saldoPorRecuperar)</td>
                <td style="width:5px; background-color: white;
                border-left: 1px solid black; border-right: 1px solid black;"></td>

                @*Cosechas*@
                <td>@Html.DisplayFor(model => item.toneladasManzanita)</td>
                <td>@Html.DisplayFor(model => item.toneladasMission)</td>
                <td>@Html.DisplayFor(model => item.toneladasObliza)</td>
                @if (Model.Sum(mov => mov.toneladasManzanitaOrg) > 0) { 
                <td>@Html.DisplayFor(model => item.toneladasManzanitaOrg)</td>}
                @if (Model.Sum(mov => mov.toneladasMissionOrg) > 0){
                <td>@Html.DisplayFor(model => item.toneladasMissionOrg)</td>}
                @if (Model.Sum(mov => mov.toneladasOblizaOrg) > 0){
                <td>@Html.DisplayFor(model => item.toneladasOblizaOrg)</td>}
                <td>@Html.DisplayFor(model => item.totalAceituna)</td>
                <td>@Html.DisplayFor(model => item.pagoAceitunaCosecha)</td>
                <td style="width:5px; background-color: white;
                border-left: 1px solid black; border-right: 1px solid black;"></td>

                @*Adeudo por arboles*@
                <td>@Html.DisplayFor(model => item.adeudoVentaArbolesAnteriorCosecha)</td>
                <td>@Html.DisplayFor(model => item.adeudoArboles)</td>
                <td>@Html.DisplayFor(model => item.abonoArbolitos)</td>
                <td class="deuda">@Html.DisplayFor(model => item.adeudoArbolitosPorRecuperar)</td>
                <td style="width:5px; background-color: white;
                border-left: 1px solid black; border-right: 1px solid black;"></td>

                @*Retenciones*@
                <td>@Html.DisplayFor(model => item.retencionSanidadVegetal)</td>
                @if (Model.Sum(mov => mov.retencionEjidal) > 0)
                {<td>@Html.DisplayFor(model => item.retencionEjidal)</td>}
                @if (Model.Sum(mov => mov.retencionesOtras) > 0)
                {<td>@Html.DisplayFor(model => item.retencionesOtras)</td>}
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $.each($("td"), function (idx,item) {
            if ($(item).html() == "$0.00" || $(item).html() == "0.000")
                $(item).html("--")
        })
    </script>
}
<style>
    .rowTotales td{
        background-color: #e4fdb8 !important;
    }
    table#tblReporteDetallado{
        font-size:0.75em;
    }

    th.totalAdeudos, td.totalAdeudos{
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    
    td.deuda,th.deuda{
        color: red;
        font-weight: bold;
    }

    @@media print {
        table{
            font-size: .8em;
        }
        body{
            margin: 0;
        }
    }
</style>
