@using CampanasDelDesierto_v1.Models
@model IEnumerable<ReportesViewModels.VMAdeudosRecuperacionReg>
@{
    TemporadaDeCosecha temporada = ViewBag.temporada;
    ViewBag.Title = "Adeudo y Recuperación - "+temporada;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="hidden-print">
    <a href="@Url.Action("Index","TemporadaDeCosechas")">
        <i class="glyphicon glyphicon-arrow-left"></i> Historial de Temporadas
    </a>
</p>

<h2>Reporte de Adeudo y Recuperacion</h2>
<span class="pull-right"><strong>Generado al día </strong> <span>@DateTime.Today.ToString("dd/MMMM/yyyy")</span></span>
<h3>@temporada.ToString().ToUpper()</h3>
<table id="tblReporte" class="table table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>Num. Prod.</th>
            <th>Productor</th>
            <th>@Html.DisplayNameFor(model => model.totalAdeudo) @temporada.fechaFin.Year</th>
            <th>@Html.DisplayNameFor(model => model.adeudoRecuperado) @temporada.fechaFin.Year</th>
            <th>@Html.DisplayNameFor(model => model.saldoPorRecuperar)</th>
            <td style="width:5px; background-color: white;
                border-left: 1px solid black; border-right: 1px solid black;"></td>
            <th>@Html.DisplayNameFor(model => model.adeudoArbolitos) @temporada.fechaFin.Year</th>
            <th>@Html.DisplayNameFor(model => model.abonoArbolitosRecuperado)</th>
            <th>@Html.DisplayNameFor(model => model.adeudoPorRecuperarArbolitos)</th>
            <td style="width:5px; background-color: white;
                border-left: 1px solid black; border-right: 1px solid black;"></td>
            <th>@Html.DisplayNameFor(model => model.totalRecuperado)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details","Productores",new { id = item.productor.idProductor })">
                        @item.productor.numProductor.ToUpper().Replace("P", "").Replace("-", ".")
                    </a>
                </td>
                <td>@item.productor</td>
                <td>@Html.DisplayFor(model => item.totalAdeudo)</td>
                <td>@Html.DisplayFor(model => item.adeudoRecuperado)</td>
                <td>@Html.DisplayFor(model => item.saldoPorRecuperar)</td>
                <td style="width:5px; background-color: white;
                border-left: 1px solid black; border-right: 1px solid black;"></td>
                <td>@Html.DisplayFor(model => item.adeudoArbolitos)</td>
                <td>@Html.DisplayFor(model => item.abonoArbolitosRecuperado)</td>
                <td>@Html.DisplayFor(model => item.adeudoPorRecuperarArbolitos)</td>
                <td style="width:5px; background-color: white;
                border-left: 1px solid black; border-right: 1px solid black;"></td>
                <td>@Html.DisplayFor(model => item.totalRecuperado)</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $("#tblReporte").DataTable({
            paging:false,
            //order: [[0, "asc"]],
            columnDefs: [
                { orderable: false, targets: [5, 9] },
            ]
        });
/*
        $.each($("td"), function (idx,item) {
            if ($(item).html() == "$0.00" || $(item).html() == "0.000")
                $(item).html("--")
        })*/
    </script>    
}
<style>
    @@media print{
        #tblReporte_filter{
            display:none;
        }
    }
</style>
