@model CampanasDelDesierto_v1.Models.Empleado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="@Url.Action("Details","Departamentos",new { id = Model.idEmpleado })">
        <i class="fa fa-arrow-circle-left"></i> Regresar
    </a>
    <a href="@Url.Action("Edit",new { id = Model.idEmpleado })">
        <i class="glyphicon glyphicon-pencil"></i> Editar
    </a>

</p>
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>Empleado:</strong> @(Model.nombre+" "+Model.apellidoPaterno+" "+Model.apellidoMaterno)</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <dl class="dl-horizontal col-md-3">
                <dt>@Html.DisplayNameFor(model => model.Departamento.nombreDepartamento):</dt>
                <dd>@Html.DisplayFor(model => model.Departamento.nombreDepartamento) </dd>

                <dt> @Html.DisplayNameFor(model => model.Departamento.Sucursal.nombreSucursal):</dt>
                <dd> @Html.DisplayFor(model => model.Departamento.Sucursal.nombreSucursal) </dd>
            </dl>           
        </div>
    </div>
</div>


<h2>Prestamos</h2>
<p>
    <a href="@Url.Action("Create", "PrestamosActivos", new { idEmpleado = Model.idEmpleado })">
        <i class="glyphicon glyphicon-plus"></i> Crear Prestamo
    </a>    

</p>

<table class="table datatablejs">
    <thead>
        <tr>
            <th>Inventario</th>
            <th>Activo</th>
            <th>Fecha de Prestamo</th>
            <th>Fecha de Entrega</th>
            <th>Fecha de Devolucion</th>
            <th></th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var Prestamo in Model.PrestamosActivos)
            {
            <tr>
                <td>@(Prestamo.Activo.inventario.nombreInventario)</td>
                <td>@(Prestamo.Activo.nombreActivo)</td>
                <td>@Prestamo.fechaPrestamoActivo</td>
                <td>@Prestamo.fechaEntregaActivo</td>
                <td>@Prestamo.fechaDevolucion</td>
                <td>
                    <a href="@Url.Action("Details", "PrestamosActivos", new { id = Prestamo.idPrestamoActivo})">
                        <i class="glyphicon glyphicon-eye-open"></i> Detalles Prestamos 
                    </a> <br />

                </td>                
            </tr>
        }
    </tbody>
</table>