@model CampanasDelDesierto_v1.Models.Empleado
@using CampanasDelDesierto_v1.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";    
    AdquisicionDeActivo adquisicion = new AdquisicionDeActivo();
  
}

<p>
    <a href="@Url.Action("Details","Departamentos",new { id = Model.departamentoID })">
        <i class="fa fa-arrow-circle-left"></i> Regresar a lista de Empleados
    </a><br />
    <a href="@Url.Action("Edit",new { id = Model.idEmpleado })">
        <i class="glyphicon glyphicon-pencil"></i> Editar
    </a>

</p>
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>Empleado:</strong> @(Model.nombre+" "+Model.apellidoPaterno+" "+Model.apellidoMaterno)</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <dl class="dl-horizontal col-md-3">
                <dt>@Html.DisplayNameFor(model => model.Departamento.nombreDepartamento):</dt>
                <dd>@Html.DisplayFor(model => model.Departamento.nombreDepartamento) </dd>

                <dt> @Html.DisplayNameFor(model => model.Departamento.Sucursal.nombreSucursal):</dt>
                <dd> @Html.DisplayFor(model => model.Departamento.Sucursal.nombreSucursal) </dd>
            </dl>           
        </div>
        @*Partial de listado de Activos Adquiridos*@
        <div class="col-md-12">
            @*LISTA DE LOS PRODUCTOS COMPRADOS*@
            <h4>Activos Adquiridos</h4>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th width="10em">
                            @Html.DisplayNameFor(model => adquisicion.ProductoActivo.noSerie)
                        </th>
                        <th width="20%">
                            @Html.DisplayNameFor(model => adquisicion.ProductoActivo.descripcionActivo)
                        </th>
                        <th width="10em">
                            @Html.DisplayNameFor(model => adquisicion.ProductoActivo.observacionesActivo)
                        </th>
                        <th>
                             @Html.DisplayNameFor(model => adquisicion.ProductoActivo.fechaPrestamo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => adquisicion.ProductoActivo.fechaDevolucion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => adquisicion.ProductoActivo.fechaDevolucion)
                        </th>
                    
                    </tr>
                </thead>
                <tbody>
                    @foreach (var activos_AD in Model.PrestamosActivos.ToList())
                    {
                        var activos = activos_AD.AdquisicionDeActivos.ToList();
                        foreach (var ac in activos)
                        {
                            <tr>
                                <td width="10em">
                                    @Html.DisplayFor(model => ac.ProductoActivo.noSerie)
                                </td>
                                <td width="20%">
                                    @Html.DisplayFor(model => ac.ProductoActivo.descripcionActivo)
                                </td>
                                <td width="10em">
                                    @Html.DisplayFor(model => ac.ProductoActivo.observacionesActivo)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => ac.ProductoActivo.fechaPrestamo)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => ac.ProductoActivo.fechaDevolucion)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => ac.ProductoActivo.fechaEntregado)
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>

    
    </div>
</div>