@model IEnumerable<CampanasDelDesierto_v1.Models.Empleado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleados</h2>


<table class="table table-striped table-hover datatablejs">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departamento.nombreDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidoMaterno)
            </th>            
            <th></th>
        </tr>
    </thead>
   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento.nombreDepartamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidoPaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidoMaterno)
                </td>
                @item.PrestamosActivos.Count()
                <td>
                    <a href="@Url.Action("Edit",new { idEmpleado = item.idEmpleado, id= item.Departamento.departamentoID })">
                        <i class="glyphicon glyphicon-pencil"></i> Editar
                    </a><br />
                    <a href="@Url.Action("Delete",new { id = item.idEmpleado })">
                        <i class="glyphicon glyphicon-remove"></i> Eliminar
                    </a><br />
                    <a href="@Url.Action("Details",new { id = item.idEmpleado })">
                        <i class="glyphicon glyphicon-eye-open"></i> Prestamos
                    </a> <br />
                    <a href="@Url.Action("Create","PrestamosActivos",new { id = item.idEmpleado })">
                        <i class="glyphicon glyphicon-plus"></i> Crear Prestamo
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
