@model CampanasDelDesierto_v1.Models.PagoPorProducto
@*Producto 1*@
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.cantidadProducto1, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        <p class="form-control-static">@Html.DisplayFor(model => model.cantidadProducto1)</p>
    </div>
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.pagoProducto1, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        <p class="form-control-static">@Html.DisplayFor(model => model.pagoProducto1)</p>
    </div>
</div>

@*Producto 2*@
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.cantidadProducto2, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        <p class="form-control-static">@Html.DisplayFor(model => model.cantidadProducto2)</p>
    </div>
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.pagoProducto2, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        <p class="form-control-static">@Html.DisplayFor(model => model.pagoProducto2)</p>
    </div>
</div>

@*Producto 3*@
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.cantidadProducto3, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        <p class="form-control-static">@Html.DisplayFor(model => model.cantidadProducto3)</p>
    </div>
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.pagoProducto3, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        <p class="form-control-static">@Html.DisplayFor(model => model.pagoProducto3)</p>
    </div>
</div>