@model IEnumerable<CampanasDelDesierto_v1.Models.PagoPorProducto>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Cosechas</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Productor.nombreProductor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montoMovimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaMovimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroSemana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cheque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abonoAnticipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.garantiaLimpieza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Productor.nombreProductor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoMovimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaMovimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroSemana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cheque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abonoAnticipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.garantiaLimpieza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.balance)
        </td>
        <td>
            <a href="@Url.Action("Edit","PagosPorProductos",new { id = item.idMovimiento })">
                <i class="glyphicon glyphicon-pencil"></i> Editar
            </a><br />
            <a href="@Url.Action("Details","PagosPorProductos",new { id = item.idMovimiento })">
                <i class="glyphicon glyphicon-eye-open"></i> Detalles
            </a><br />
            <a href="@Url.Action("Delete","PagosPorProductos",new { id = item.idMovimiento })">
                <i class="glyphicon glyphicon-remove"></i> Eliminar
            </a>
           
        </td>
    </tr>
}
    
</table>
