@using CampanasDelDesierto_v1.Models
@model IEnumerable<RecepcionDeProducto>
@{ 
    bool selectMode = false;
    if (ViewData["selectMode"] != null)
    {
        selectMode = (bool)ViewData["selectMode"];
    }
}

<table id="tblIngresoAcumulado" class="table table-hover table-striped">
    <thead>
        <tr>
            @if (selectMode) {
                <th>

                </th>
            }
            <th class="hidden">
                @Html.DisplayNameFor(model => model.recepcionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numeroRecibo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidadTonsProd1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidadTonsProd2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidadTonsProd3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.semana)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @*Si el registro de ingreso de producto tiene un ID asociado a un movimiento, 
                significa que esta seleccionado por defecto ya que esta asociado al movimiento
                que esta siendo registrado*@
            <tr @((item.movimientoID!=null && item.movimientoID>0)?"default-selected":"")>
                @if (selectMode)
                {
                    <td>

                    </td>
                }
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.recepcionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numeroRecibo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidadTonsProd1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidadTonsProd2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidadTonsProd3)
                </td>
                <td>
                    @item.fecha.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.semana)
                </td>
            </tr>
        }
    </tbody>
</table>