@using CampanasDelDesierto_v1.Models
@model IEnumerable<RecepcionDeProducto>
@{ 
    bool showOpts = ViewData["showOpts"] != null ? (bool)ViewData["showOpts"] : true;
}

<table id="tblRecibosCosechaImportados" class="table table-hover table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.numeroRecibo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numProductor)
            </th>
            <th style="width: 15em">
                @Html.DisplayNameFor(model => model.nombreProductor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.semana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidadTonsProd1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidadTonsProd2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidadTonsProd3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidadTonsProd4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidadTonsProd5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidadTonsProd6)
            </th>

            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recepcion in Model.OrderBy(ing => ing.semana))
        {
            @*Si el registro de ingreso de producto tiene un ID asociado a un movimiento,
    significa que esta seleccionado por defecto ya que esta asociado al movimiento
    que esta siendo registrado*@
            <tr @((recepcion.movimientoID != null && recepcion.movimientoID > 0) ? "default-selected" : "")>
                <td></td>
                <td>@Html.DisplayFor(model => recepcion.recepcionID)</td>
                <td>
                    @Html.DisplayFor(model => recepcion.numeroRecibo)
                </td>

                <td>
                    @Html.DisplayFor(model => recepcion.numProductor)
                </td>
                <td style="width: 10em">
                    @recepcion.nombreProductor.Substring(0, 14)...
                </td>
                <td>
                    @recepcion.fecha.ToString("dd-MMM-yy")
                </td>
                <td>
                    @Html.DisplayFor(model => recepcion.semana)
                </td>
                <td>
                    @Html.DisplayFor(model => recepcion.cantidadTonsProd1)
                </td>
                <td>
                    @Html.DisplayFor(model => recepcion.cantidadTonsProd2)
                </td>
                <td>
                    @Html.DisplayFor(model => recepcion.cantidadTonsProd3)
                </td>
                <td>
                    @Html.DisplayFor(model => recepcion.cantidadTonsProd4)
                </td>
                <td>
                    @Html.DisplayFor(model => recepcion.cantidadTonsProd5)
                </td>
                <td>
                    @Html.DisplayFor(model => recepcion.cantidadTonsProd6)
                </td>
                <td>
                    @if (recepcion.liquidacionYaEmitada || recepcion.pagoYaRegistrado)
                    {
                        <div class="dropdown_actions">
                            <button onclick="openActionsDropDown(this)"
                                    class="dropbtn btn btn-default">
                                <i class="glyphicon glyphicon-option-horizontal"></i>
                            </button>
                            <div id="myDropdown" class="dropdown-content">
                                @if (recepcion.pagoYaRegistrado)
                                {
                                    <a target="_blank"
                                       href="@Url.Action("Details", "MovimientoFinancieros", new { id = recepcion.pago.idMovimiento })">
                                        Registro de Cosecha
                                    </a>
                                }

                                @if (recepcion.liquidacionYaEmitada)
                                {
                                    <a target="_blank"
                                       href="@Url.Action("Details", "MovimientoFinancieros", new { id = recepcion.pago.liquidacionDeCosechaID })">
                                        Registro de Liquidación
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </td>
                <td>@Html.DisplayFor(model => recepcion.fecha)</td>
                <td>@Html.DisplayFor(model => recepcion.idProductor)</td>
                <td>@Html.DisplayFor(model => recepcion.movimientoID)</td>
            </tr>
        }
    </tbody>
</table>