@model CampanasDelDesierto_v1.Models.MovimientoFinanciero

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>¿Estás seguro que quieres eliminar este registro?</h3>
<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Movimiento Financiero</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Productor.nombreProductor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Productor.nombreProductor)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.montoMovimiento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.montoMovimiento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fechaMovimiento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaMovimiento)
                </dd>

            </dl>
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn btn-danger" >Eliminar</button> |
            @Html.ActionLink("Volver a detalles del productor","Details","Productores"
                ,new { id= Model.idProductor }, null)
        </div>
    }
</div>
