@model CampanasDelDesierto_v1.Models.MovimientoFinanciero
@using CampanasDelDesierto_v1.Models

@{
    ViewBag.Title = "Detalles de "+Model.nombreDeMovimiento.ToLower();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>
<p class="hidden-print">
    @if (!Model.isNoDirectamenteModificable) { 
    <a href="@Url.Action("Edit",Model.getNombreControlador(), new { id = Model.idMovimiento })">
        <i class="fa fa-pencil"></i> Editar
    </a> <span>|</span>
    }
    <a href="@Url.Action("Details","Productores", new { id=Model.idProductor, temporada = Model.TemporadaDeCosechaID })">
        <i class="glyphicon glyphicon-arrow-left"></i>Volver a movimientos del productor
    </a>

    @if (Model.getTypeOfMovement() == MovimientoFinanciero.TypeOfMovements.CAPITAL &&
        ((PrestamoYAbonoCapital)Model).tipoDeMovimientoDeCapital != PrestamoYAbonoCapital.TipoMovimientoCapital.ABONO
        || Model.getTypeOfMovement() == MovimientoFinanciero.TypeOfMovements.VENTA_A_CREDITO)
    {
        //Se determina si el enlace para generar pagare sera invocado desde el action PagareAnticipo o PagareVenta, segun
        //el tipo de movimiento consultado
        string actionName = Model.getTypeOfMovement() == MovimientoFinanciero.TypeOfMovements.CAPITAL?"PagareAnticipo":
            Model.getTypeOfMovement() == MovimientoFinanciero.TypeOfMovements.VENTA_A_CREDITO?"PagareVenta":"Details";

        <span>|</span>
        <a href="@Url.Action(actionName,"MovimientoFinancieros",new { id = Model.idMovimiento })" target="_blank">
            <i class="glyphicon glyphicon-print"></i> Imprimir Pagaré
        </a>
    }
    @if (Model.getTypeOfMovement() == MovimientoFinanciero.TypeOfMovements.LIQUIDACION)
    {
        <span>|</span>
        <a href="@Url.Action("PrintCheque","LiquidacionSemanal",new { id = Model.idMovimiento })" target="_blank">
            <i class="glyphicon glyphicon-print"></i> Imprimir Cheque
        </a>
    }
</p>

@Html.Partial("Partial_MovimientoDetails")