@model CampanasDelDesierto_v1.Models.MovimientoFinanciero
@using CampanasDelDesierto_v1.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>
<p class="hidden-print">
    <a href="@Url.Action("Edit",Model.getNombreControlador(), new { id = Model.idMovimiento })">
        <i class="fa fa-pencil"></i> Editar
    </a>
    |
    <a href="@Url.Action("Details","Productores", new { id=Model.idProductor })">
        <i class="glyphicon glyphicon-arrow-left"></i>Volver a movimientos del productor
    </a>

    @if (Model.getTypeOfMovement() == MovimientoFinanciero.TypeOfMovements.CAPITAL &&
                                        ((PrestamoYAbonoCapital)Model).tipoDeMovimientoDeCapital != PrestamoYAbonoCapital.TipoMovimientoCapital.ABONO)
    {
        @(" | ")
        <a href="@Url.Action("Pagare","MovimientoFinancieros",new { id = Model.idMovimiento })" target="_blank">
            <i class="glyphicon glyphicon-print"></i> Imprimir 
        </a> 
    }

    <a href="@Url.Action("Details","Productores", new { id=Model.idProductor })">
        <i class="glyphicon glyphicon-arrow-left"></i>Volver a movimientos del productor
    </a>
</p>

@Html.Partial("Partial_MovimientoDetails")