@model CampanasDelDesierto_v1.Models.MovimientoFinanciero
@using CampanasDelDesierto_v1.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>   
    <h4>Movimiento Financiero</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        @Html.DisplayNameFor(model => model.Productor.nombreProductor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Productor.nombreProductor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.montoMovimiento)
        </dt>
      <dd>
          @Html.DisplayFor(model => model.montoMovimiento)
      </dd>

       <dt>
           @Html.DisplayNameFor(model => model.fechaMovimiento)
       </dt>
       <dd>
           @Html.DisplayFor(model => model.fechaMovimiento)
       </dd>


        @*Panel para detalles de registro de cosecha*@
        @if (Model.getTypeOfMovement() == MovimientoFinanciero.TypeOfMovements.PAGO_POR_PRODUCTO)
        {
            @(((PagoPorProducto)Model).nombreDeMovimiento)
        }
        else if (Model.getTypeOfMovement() == MovimientoFinanciero.TypeOfMovements.CAPITAL)
        {
            PrestamoYAbonoCapital movAnticipo = (PrestamoYAbonoCapital)Model;
            @*Panel para detalles movimentos de capital (Prestamos o abonos)*@
            <dt>
                @Html.DisplayNameFor(model => movAnticipo.cheque)
            </dt>

            <dd>
                @Html.DisplayFor(model => movAnticipo.cheque)
            </dd>
                <dt>
                    @Html.DisplayNameFor(model => movAnticipo.concepto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => movAnticipo.concepto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => movAnticipo.proveedor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => movAnticipo.proveedor)
                </dd>
                @*
                    <dt>
                        @Html.DisplayNameFor(model => model.pagare)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.pagare)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fechaPagar)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fechaPagar)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.nota)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nota)
                    </dd>*@
        }

        @*Panel para detalles para ventas a credito*@

    </dl>
</div>
<p class="hidden-print">
    @Html.ActionLink("Editar", "Edit", new { id = Model.idMovimiento }) |

    <a href="@Url.Action("Index")">
        <i class="glyphicon glyphicon-arrow-left"></i>Volver a la lista
    </a>
</p>



    <input class="hidden-print btn btn-info" type="button"
           onclick="Partial_Pagare()"
           value="imprimir" />

    @section Scripts{
        <script>
    $(document).ready(function(){
        window.print();
    })


  @*  function Partial_Pagare() {
        var laURLDeLaVista = '@Url.Action("Detalles", "MovimientosFinancieros")';
        $.ajax({
            cache: false,
            async: true,
            type: "GET",
            url: laURLDeLaVista,
            data: {},
            success: function (response) {
                $('#resultado').html('');
                $('#resultado').html(response);
            }
        });
    }
      *@
        </script>
    }




