@model CampanasDelDesierto_v1.Models.MovimientoFinanciero
@using CampanasDelDesierto_v1.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Movimiento Financiero</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Productor.nombreProductor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productor.nombreProductor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montoMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaMovimiento)
        </dd>

    </dl>
</div>

@*Panel para detalles de registro de cosecha*@
@if (Model.getTypeOfMovement() == MovimientoFinanciero.TypeOfMovements.PAGO_POR_PRODUCTO) {
    <div>
        @(((PagoPorProducto)Model).)
    </div>
}
else if (Model.getTypeOfMovement() == MovimientoFinanciero.TypeOfMovements.CAPITAL)
{
    @*Panel para detalles movimentos de capital*@
    <div></div>
}
@*Panel para detalles para ventas a credito*@
<div></div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idMovimiento }) |
    
    <a href="@Url.Action("Index")">
        <i class="glyphicon glyphicon-arrow-left"></i>Volver a la lista
    </a>
</p>
