@using CampanasDelDesierto_v1.HerramientasGenerales
@using System.Globalization;
@model CampanasDelDesierto_v1.Models.PrestamoYAbonoCapital
@using CampanasDelDesierto_v1.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Impresion de Pagare - Campanas del Desierto</title>
</head>
<body>
    <div>
        <div id="pnlPagare">
            <img src="/images/Pagare.jpg"Width="1275" Heigth="3507" important!/>
            <span id="ImportePagare">
                @Html.DisplayFor(model => model.montoMovimiento)
            </span>
            <span id="Dia">
                @Html.DisplayFor(model => model.fechaMovimiento.Day)
            </span>
            <span id="mes">
                @Model.fechaMovimiento.ToString("MMMM", CultureInfo.CreateSpecificCulture("es-MX"))
            </span>
            <span id="año">
                @Html.DisplayFor(model => model.fechaMovimiento.Year)
            </span>
            <span id="montoMovimiento">
                @(String.Format("{0} ({1})", Model.montoMovimiento.ToString("C"), NumbersTools.NumberToText.Convert(Model.montoMovimiento)))
            </span>
            <span id="diafechaMovimiento">
                @Model.fechaMovimiento.ToString("dd",CultureInfo.CreateSpecificCulture("es-MX"))
            </span>
            <span id="mesfechaMovimiento">
                @Model.fechaMovimiento.ToString("MMMM", CultureInfo.CreateSpecificCulture("es-MX"))
            </span>
            <span id="añofechaMovimiento">
                @Model.fechaMovimiento.ToString("yyyy", CultureInfo.CreateSpecificCulture("es-MX"))
            </span>
            <span id="NombreProductor">
                @Html.DisplayFor(model => model.Productor.nombreCheque)
            </span>
            <span id="DomicilioProductor">
                @Html.DisplayFor(model => model.Productor.domicilio)
            </span>
            @*<span id="TelefonoProductor">
                @Html.DisplayFor(model => model.Productor.telefono)
            </span>*@
            <span id="PoblacionProductor">
                @Html.DisplayFor(model => model.Productor.zona)
            </span>    
                
            <span id="cheque">
                @Html.DisplayFor(model => model.cheque)
            </span>
            <span id="precio">
                @Html.DisplayFor(model => model.precioDelDolar)
            </span>
        </div>
        <style>
            #pnlPagare {
                /*background-image: url("/images/cheque.jpg");*/
                background-repeat: no-repeat;
             
            }
                
                #pnlPagare img {
                    position: absolute;
                    left: 0;
                    z-index: 0;
                }

                #pnlPagare span {
                    position: absolute;
                    font-size: 18px;
                }

            span#ImportePagare {
                left: 25.7cm;
                top: 3.2cm;
            }
            span#Dia {
                left: 27.9cm;
                top: 6.9cm;
            }
            span#mes {
               left: 5.5cm;
                top: 7.8cm;
            } 
            span#año {
                top: 7.8cm;
                left: 11.0cm;       
            }
            span#montoMovimiento {
                top: 7.8cm;
                left: 18.1cm;
            }
            span#diafechaMovimiento {
                top: 4.3cm;
                left:  20.0cm;
            }
            span#mesfechaMovimiento {
                top: 4.3cm;
                left:23.5cm;
            }
            span#añofechaMovimiento {
                top: 4.3cm;
                left: 28.7cm;
            }
            span#NombreProductor {
                top:  19.5cm;
                left: 5.1cm;
            }
            span#DomicilioProductor {
                top:  20.5cm;
                left: 5.2cm;                
            }
            span#PoblacionProductor {
                 top:  21.5cm;
                left: 5.4cm;
            }
             span#cheque {
                 top:  26.7cm;
                left: 19.6cm;
            }
              span#precio {
                 top:  28.3cm;
                left: 19.6cm;
              
            }

            @@page {
                size: A4;
                margin: 0;
            }

            @@media print {
                html, body {
                    width: 210mm;
                    height: 297mm;
                }

                #pnlPagare img {
                    display: none;
                }
            }
        </style>
    </div>
</body>
</html>
