@model CampanasDelDesierto_v1.Models.PrestamoYAbonoCapital
    @using CampanasDelDesierto_v1.Models;

@{
    ViewBag.Title = "Pagare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en-us">
<meta charset="utf-8">
<head>
    <style>
                .tdTabla1 {
          
                    border: 1px solid black;
                    padding-left: 5px;
                    padding-right: 5px;
                }
       
                .h5{
                    float:right;
                }

                #PagareTexto {
                    display: inline;
                }

                #firmas {
                    display: inline;
                    float: left;
                    margin: 0 60px;
                }

                #tablaFirmas {
                    float: right;
                }

                .tdTabla2 {
                }
              
    </style>
</head>
<body>

    <div id="PagareTexto">
        <table class="tabla1">
            <tr>
                <td class="tdTabla1">
                    <h3>PAGARE No._______</h3>
                                                        <h5>IMPORTE DEL PAGARE:<strong> @Model.montoMovimiento</strong></h5>
                                                       <h5>Puerto Peñasco,Son.,a @DateTime.Now </h5>
                    <p>
                        POR EL IMPORTE DE ESTE PAGARE ME(NOS) OBLIGO(AMOS) A PAGAR INCONDICIONALMENTE A LA 
                        ORDEN DE CAMPANAS DEL DESIERTO,S.A. DE C.V., EN SUS OFICINAS UBICADAS EN BLVD. LAS CONCHAS Y
                        MARSELLAS No.432, FRACC. BRISAS DEL GOLFO,EN PUERTO PEÑASCO,SONORA,EL DIA <strong>@Model.fechaMovimiento.Day</strong> DE 
                        <strong> @Model.fechaMovimiento.Month </strong> DE<strong> @Model.fechaMovimiento.Year</strong> CANTIDAD DE: <strong>$ @Model.montoMovimiento</strong>
                        VALOR RECIBIDO A NUESTRA ENTERA SATISFACCION.<br />
                    </p>
                    <p>
                        EL IMPORTE DE ESTE PAGARE CAUSARA INTERESES ORDINARIOS SOBRE SALDOS INSOLUTOS A RAZON
                        DE <strong>10 %</strong>  ANUAL. ESTE PAGARE FORMA PARTE DE UNA SERIE NUMERADA DE 1 AL __________ Y
                        TODOS ESTAN SUJETOS A LA CONDICCION DE QUE, AL NO PAGARSE CUALQUIERA DE ELLOS A SU
                        VENCIMIENTO,SERAN EXIGIBLES TODOS LOS QUE LE SIGAN EN NUMERO,ADEMAS DE LOS YA VENCIDOS,
                        DESDE LA FECHA DE VENCIMIENTO DE ESTE DOCUMENTO HASTA EL DIA DE SU LIQUIDACION,CAUSARA
                        INTERESES MORATORIOS A UNA TASA  MORATORIA ANUAL DE _____ VECES LA TASA ORDINARIA,
                        PAGADEROS EN ESTA CIUDAD  JUNTAMENTE  CON EL PRINCIPAL.
                    </p>
                    <p>
                        PARA TODO LO RELACIONADO CON LA INTERPRETACION Y CUMPLIMIENTO  DEL PRESENTE TITULO.
                        DECLARO(AMOS) SOMETERME(NOS) A LAS LEYES Y JURIDICCION  DE LOS TRUBUNALES COMPETENTES
                        QUE EXIJA EL ACREEDOR ,RENUNCIANDO A CUALQUIER OTRA LEY,COMPETENCIA Y JURISDICCION QUE
                        ME(NOS) PUDIERA CORRESPONDER EN VIRTUD DE MI(NTRO.) DOMICILIO(S) PRESENTE(S)O FUTURO(S).
                    </p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <h6><strong> NOMBRE Y DATOS DEL DEUDOR</strong></h6>
                    <p>Nombre: <strong>@(((MovimientoFinanciero)Model).Productor.nombreProductor) </strong></p>
                    <p>Domicilio: <strong> @(((MovimientoFinanciero)Model).Productor.domicilio)</strong></p>         <p>Tel:__________</p>
                    <p>Poblacion: <strong>@(((MovimientoFinanciero)Model).Productor.zona)</strong></p>

                
                   <h6>Acepto(amos):_________________________________</h6> 



                    <p>Firma(s):_____________________________________</p>


                    <h6><strong>Concepto:</strong></h6>
                    <p>Orden de Compra:_____</p>
                    <p>Pozo:_________</p>
                    <p>CH.<strong>@(((PrestamoYAbonoCapital)Model).cheque)</strong></p>
                    <p>t.c <strong>@(((PrestamoYAbonoCapital)Model).precioDelDolar)</strong></p>
                </td>
            </tr>
        </table>
    </div>
    <input class="hidden-print btn btn-info" type="button"
           onClick="window.print()"
           value="Imprimir" />

    @section Scripts{
        <script>
        $(document).ready(function () {
            window.print();
        })
        </script>
    }








    <!-- 			<div class"pagares">
                 <p>Concepto:</p>

                  <p>Orden de Compra:_____</p>  <p>CH._____</p>
                  <p>Pozo:_______</p>   <p>t.c._____</p>
                </div> -->

</body>
</html>