@using CampanasDelDesierto_v1.HerramientasGenerales
@using System.Globalization;
@model CampanasDelDesierto_v1.Models.PrestamoYAbonoCapital
@using CampanasDelDesierto_v1.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Impresion de Pagare - Campanas del Desierto</title>
</head>
<body>
    <div id="pnlPagare" style="width:100%">
        <img src="/images/Pagare.jpg" />
        <span id="ImportePagare">
            @Html.DisplayFor(model => model.montoMovimiento)
        </span>
        <span id="Dia">
            @Html.DisplayFor(model => model.fechaMovimiento.Day)
        </span>
        <span id="mes">
            @Html.DisplayFor(model => model.fechaMovimiento.Month)
        </span>
        <span id="año">
            @Html.DisplayFor(model => model.fechaMovimiento.Year)
        </span>
        <span id="montoMovimiento">
            @(String.Format("{0} ({1})", Model.montoMovimiento.ToString("C"), NumbersTools.NumberToText.Convert(Model.montoMovimiento)))
        </span>
        <span id="diafechaMovimiento">
            @Model.fechaMovimiento.ToString("dd", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="mesfechaMovimiento">
            @Model.fechaMovimiento.ToString("MMMM", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="añofechaMovimiento">
            @Model.fechaMovimiento.ToString("yyyy", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="NombreProductor">
            @Html.DisplayFor(model => model.Productor.nombreProductor)
        </span>
        <span id="DomicilioProductor">
            @Html.DisplayFor(model => model.Productor.domicilio)
        </span>
        <span id="PoblacionProductor">
            @Html.DisplayFor(model => model.Productor.zona)
        </span>

        <span id="cheque">
            @Html.DisplayFor(model => model.cheque)
        </span>
        <span id="precio">
            @Html.DisplayFor(model => model.precioDelDolar)
        </span>
    </div>
    <div id="controls" class="pull-right" style="position:absolute; right: 0">
        <label for="px">PX:</label><input id="px" />
        <label for="py">PY:</label><input id="py" />
    </div>
    <style>
        #pnlPagare {
            background-repeat: no-repeat;
            padding-top: 4mm;
        }
                
        #pnlPagare img {
            position: absolute;
            z-index: 0;
            width: 216mm;
            height: 279mm;
        }

        #pnlPagare span {
            position: absolute;
            font-size: 18px;
        }

        span#ImportePagare {
            left: 156mm;
            top: 19mm;
        }

        span#diafechaMovimiento {
            top: 26mm;
            left: 129mm;
        }

        span#mesfechaMovimiento {
            top: 26mm;
            left: 146mm;
        }

        span#añofechaMovimiento {
            top: 26mm;
            left: 184mm;
        }

        span#Dia {
            left: 181mm;
            top: 43mm;
        }

        span#mes {
            left: 0;
            top: 20mm;
        } 

        span#año {
            left: 0mm;
            top: 30mm;
        }

        span#montoMovimiento {
            left: 0;
            top: 40mm;
        }

        span#NombreProductor {
            left:0 ;
            top:  50mm;
        }
        span#DomicilioProductor { 
            left:  0; 
            top: 60mm;              
        }

        span#PoblacionProductor {
            left: 0;
            top:  80mm;
        }

        span#cheque {
            left: 0;
            top:  70mm;
        }

        span#precio {
            left: 0;
            top:  60mm;
        }

        html, body {
            width: 216mm;
            height: 279mm;
            margin: 0;
            padding: 0;
        }

        *{
            margin: 0;
            padding: 0;
        }

        @@media print {

            #pnlPagare img {
                /*display: none;*/
            }

            #controls{
                display: none;
            }

            @@page {
                size: letter;
                margin: 0;
                padding: 0;
            }
        }

        @@media print and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { body { zoom: 150%; } }
    </style>

    @Scripts.Render("~/bundles/jquery")
    <script>
        $("#pnlPagare").draggable()
        $("#pnlPagare").draggable({
            drag: function (event, ui) {
                $("#px").val(ui.position.left);
                $("#py").val(ui.position.top);
            }
        });

    </script>
</body>
</html>
