@using CampanasDelDesierto_v1.HerramientasGenerales
@using System.Globalization;
@using CampanasDelDesierto_v1.Models;
@model CampanasDelDesierto_v1.Models.MovimientoFinanciero

@{
    Layout = null;
    Model.montoMovimiento *= -1;
    bool isVenta = Model.getTypeOfMovement() == MovimientoFinanciero.TypeOfMovements.VENTA_A_CREDITO;
    bool isPrestamo = Model.getTypeOfMovement() == MovimientoFinanciero.TypeOfMovements.CAPITAL;
    string currency = "Dólares";
    DateTime fechaPagar = new DateTime();

    PrestamoYAbonoCapital prestamo = new PrestamoYAbonoCapital();
    if (isPrestamo)
    {
        //asignacion de valor a cada variable para un PRESTAMO
        prestamo = ((PrestamoYAbonoCapital)Model);
        fechaPagar = prestamo.fechaPagar.Value;
    }

    VentaACredito venta = new VentaACredito();
    if (isPrestamo)
    {
        venta = ((VentaACredito)Model);
        //asignacion de valor a cada variable para un VENTA
        //...
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Impresion de Pagare - Campanas del Desierto</title>
</head>
<body>
    <div id="pnlPagare">
        <img src="/images/Pagare.jpg" />
        <span id="ImportePagare">
            @Html.DisplayFor(model => model.montoMovimiento) @currency
        </span>
        <span id="Dia">
          @fechaPagar.ToString("dd", CultureInfo.CreateSpecificCulture("es-MX"))@*cambiar a fecha pagar*@
        </span>
        <span id="mes">
             @(fechaPagar.ToString("MMMM", CultureInfo.CreateSpecificCulture("es-MX")).First().ToString().ToUpper() + fechaPagar.ToString("MMMM", CultureInfo.CreateSpecificCulture("es-MX")).Substring(1))
        </span>
        <span id="año">
            @fechaPagar.ToString("yyy", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="montoMovimiento">
            @(NumbersTools.NumberToText.Convert(Model.montoMovimiento, currency)) U.S.Cy.
        </span>
        <span id="diafechaMovimiento">
            @Model.fechaMovimiento.ToString("dd", CultureInfo.CreateSpecificCulture("es-MX"))
            @*@Model.Productor.fechaPagar.ToString("dd",CultureInfo.CreateSpecificCulture("es-MX"))
                @(((PrestamoYAbonoCapital)Model).Productor.fechaPagar)*@
        </span>
        <span id="mesfechaMovimiento">
            @(Model.fechaMovimiento.ToString("MMMM", CultureInfo.CreateSpecificCulture("es-MX")).First().ToString().ToUpper() + Model.fechaMovimiento.ToString("MMMM", CultureInfo.CreateSpecificCulture("es-MX")).Substring(1))
        </span>
        <span id="añofechaMovimiento">
            @Model.fechaMovimiento.ToString("yyyy", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="NombreProductor">
            @Html.DisplayFor(model => model.Productor.nombreCheque)
        </span>
        <span id="DomicilioProductor">
            @Html.DisplayFor(model => model.Productor.domicilio)
        </span>
        <span id="PoblacionProductor">
            @Html.DisplayFor(model => model.Productor.poblacion)
        </span>
        <span id="telefonoProductor">
            @Html.DisplayFor(model => model.Productor.telefono)
        </span>
        <span id="representanteLegal">
            @Html.DisplayFor(model => model.Productor.nombreRepresentanteLegal)
        </span>
        <span id="RFCProductor">
            @Html.DisplayFor(model => model.Productor.RFC)
        </span>
        <span id="numProductor">
            @Html.DisplayFor(model => model.Productor.numProductor)
        </span>
        <span id="descripcionConcepto">
            @Html.DisplayFor(model => model.descripcionConcepto)
        </span>
        <span id="pozo">
            @Html.DisplayFor(model => model.pozo)
        </span>

        <span id="cheque">
            @Html.DisplayFor(model => model.cheque)
        </span>
        <span id="TipoCambio">
            @Html.DisplayFor(model => model.precioDelDolar)
        </span>

        @*CAMPOS EDITABLES*@
        <span id="tasaAnual">
            <input id="inputTasaAnual" type="number" value="10" style="width: 30px" />
        </span>
        <span id="serieNumerada">
            <input id="inputSerieNumerada" type="number" value="1" style="width: 30px" />
        </span>
        <span id="tasaMoratoria">
            <input id="inputTasaMoratoria" type="number" style="width: 30px" />
        </span>
        <span id="numReporte">
            <input id="inputReporte" type="text" value="NA" style="width: 70px" />
        </span>
        <span id="OrdenCompra">
            <input id="inputOrdenDeCompra" type="text" value="NA" style="width: 80px" />
        </span>
    </div>

    <style>
        * {
            margin: 0;
            padding: 0;
        }
                   


        #pnlPagare span {
            position: absolute;
            font-size: 18px;
        }

        span#ImportePagare {
            left: 157mm;
            top: 15mm;
        }

        span#Dia {
            left: 177mm;
            top: 40mm;
        }

        span#mes {
            left: 22mm;
            top: 45mm;
        }

        span#año {
            left: 67mm;
            top: 45mm;
        }

        span#montoMovimiento {
            left: 117mm;
            top: 46mm;
            font-size: 14px;
        }

        span#diafechaMovimiento {
            left: 126mm;
            top: 22mm;
        }

        span#mesfechaMovimiento {
            left: 152mm;
            top: 22mm;
        }

        span#añofechaMovimiento {
            left: 181mm;
            top: 22mm;
        }

        span#NombreProductor {
            left: 31mm;
            top: 122mm;
            font-size: 12px;
        }

        span#DomicilioProductor {
            left: 34mm;
            top: 126mm;
            font-size: 11px;
            width: 16em; 
            word-wrap: break-word;
        }

        span#PoblacionProductor {
            left: 34mm;
            top: 134mm;
            font-size: 12px;
        }

        span#representanteLegal {
            left: 140mm;
            top: 122mm;
            font-size: 11px;
        }

        span#RFCProductor {
            left: 14mm;
            top: 145mm;
        }

        span#numProductor {
            left: 195mm;
            top: 145mm;
        }

        span#descripcionConcepto {
            left: 38mm;
            top: 155mm;
            font-size: 12px;
        }

        span#telefonoProductor {
            left: 83mm;
            top: 128mm;
            font-size: 14px;
        }
        span#pozo {
            left: 53mm;
            top: 188mm;
        }

        span#cheque {
            left: 133mm;
            top: 167mm;
        }

        span#TipoCambio {
            left: 130mm;
            top: 177mm;
        }

        span#tasaAnual {
            left: 26mm;
            top:  60mm;
        }

        span#serieNumerada {
            left: 180mm;
            top: 60mm;
        }

        span#tasaMoratoria {
            left: 130mm;
            top:  80mm;
        }

        span#numReporte {
            left: 60mm;
            top: 167mm;
        }

        span#OrdenCompra {
            left: 70mm;
            top: 177mm;
        }

        /*Calibracion de margen*/
        #pnlPagare {
            position: relative;
            left: 2mm;
            top: 4mm;
            
            /*Tamaño de papel Letter*/
            width: 8.5in;
            height: 10in;
        }

        #pnlPagare img {
            /*position: absolute;*/

            z-index: 0;
            width: 8.43in; /*Factor: .9788*/
            height: 10.91in; /*Factor: 1.042*/
        }

        @@media print {
            @@page {
                size: letter;
                margin: 0;
                padding: 0;
            }

            #pnlPagare img {
                display: none;
                border: 1px solid black;/**/
            }

            span input {
                background: none;
                border: none;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                /* display: none; <- Crashes Chrome on hover */
                -webkit-appearance: none;
                margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
            }
        }
        /*@@media print and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { body { zoom: 150%; } }*/
    </style>
</body>
</html>