@using CampanasDelDesierto_v1.HerramientasGenerales
@using System.Globalization;
@model CampanasDelDesierto_v1.Models.PrestamoYAbonoCapital
@using CampanasDelDesierto_v1.Models;

@{
    Layout = null;
    Model.montoMovimiento *= -1;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Impresion de Pagare - Campanas del Desierto</title>
</head>
<body>
    <div id="pnlPagare">
        <img src="/images/Pagare.jpg"/>
        <span id="ImportePagare">
            @Html.DisplayFor(model => model.montoMovimiento) dólares
        </span>
        <span id="Dia">
            @Model.fechaMovimiento.ToString("dd", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="mes">
            @Model.fechaMovimiento.ToString("MMMM", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="año">
            @Model.fechaMovimiento.ToString("yyyy", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="montoMovimiento">
            @Html.DisplayFor(model => model.montoMovimiento) dólares
        </span>
        <span id="diafechaMovimiento">
            @Model.fechaMovimiento.ToString("dd",CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="mesfechaMovimiento">
            @Model.fechaMovimiento.ToString("MMMM", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="añofechaMovimiento">
            @Model.fechaMovimiento.ToString("yyyy", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="NombreProductor">
            @Html.DisplayFor(model => model.Productor.nombreCheque)
        </span>
        <span id="DomicilioProductor">
            @Html.DisplayFor(model => model.Productor.domicilio)
        </span>  
                
        <span id="cheque">
            @Html.DisplayFor(model => model.cheque)
        </span>
        <span id="telefonoProductor">
            @Html.DisplayFor(model => model.Productor.telefono)
        </span>
        <span id="PoblacionProductor">
            @Html.DisplayFor(model => model.Productor.poblacion)
        </span>
        <span id="RFCProductor">
            @Html.DisplayFor(model => model.Productor.RFC)
        </span>

        @*CAMPOS EDITABLES*@
        <span id="tasaAnual">
            <input id="inputTasaAnual" type="number" value="10" style="width: 30px" />
        </span>
        <span id="serieNumerada">
            <input id="inputSerieNumerada" type="number" value="0000" style="width: 4em" />
        </span>
        <span id="tasaMoratoria">
            <input id="inputTasaMoratoria" type="number" value="10" style="width: 30px" />
        </span>
        <span id="aceptamos">
            <input id="inputAceptamos" type="text" value="Aceptamos" style="width: 200px" />
        </span>
        <span id="numReporte">
            <input id="inputReporte" type="text" value="NA" style="width: 70px" />
        </span>
        <span id="OrdenCompra">
            <input id="inputOrdenDeCompra" type="text" value="NA" style="width: 80px" />
        </span>
    </div>
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        #pnlPagare span {
            position: absolute;
            font-size: 18px;
        }

        span#ImportePagare {
            left: 153mm;
            top: 16mm;
        }
        span#Dia {
            left: 179mm;
            top: 40mm;
        }
        span#mes {
            left: 20mm;
            top: 46mm;
        } 
        span#año {
            left: 67mm;
            top: 46mm;
        }
        span#montoMovimiento {
            left: 115mm;
            top: 46mm;
        }
        span#diafechaMovimiento {
            left: 127mm;
            top: 23mm;
        }
        span#mesfechaMovimiento {
            left: 144mm;
            top: 23mm;
        }
        span#añofechaMovimiento {
            left: 181mm;
            top: 23mm;
        }
        span#NombreProductor {
            left: 33mm;
            top: 121mm;
        }
        span#DomicilioProductor {
            left: 34mm;
            top: 127mm;      
        }
        span#PoblacionProductor {
            left: 35mm;
            top: 133mm;
        }
        span#RFCProductor {
            left: 20mm;
            top: 138mm;
        }

        span#telefonoProductor{
            left: 83mm;
            top: 127mm;
        }

        span#cheque {
            left: 128mm;
            top: 166mm;
        }
        
        span#tasaAnual{
            left: 28mm;
            top: 60mm;
        }

        span#serieNumerada{
            left: 172mm;
            top: 60mm;
        }

        span#tasaMoratoria{
            left: 128mm;
            top: 80mm;
        }
        span#aceptamos{
            left: 135mm;
            top: 120mm;
        }
        span#numReporte{
            left: 58mm;
            top: 166mm;
        }
        span#OrdenCompra{
            left: 69mm;
            top: 176mm;
        }

        /*Calibracion de margen*/
        #pnlPagare{
            position: relative;
            left: 2mm;
            top: 4mm;
            width: 8.5in;
            height: 11in;
        }

        #pnlPagare img {
            position: absolute;
            z-index: 0;
            width: 8.40in; /*Factor: .9788*/
            height: 11.64in;/*Factor: 1.042*/
        }

        @@media print {
            @@page {
                size: letter;
                margin: 0;
                padding: 0;
            }

            #pnlPagare img {
                display: none;
                /*border: 1px solid black;*/
            }

            span input{
                background: none;
                border: none;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                /* display: none; <- Crashes Chrome on hover */
                -webkit-appearance: none;
                margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
            }
        }

        /*@@media print and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { body { zoom: 150%; } }*/
    </style>
    @*
    @Scripts.Render("~/bundles/jquery")
    <script>
        $("#pnlPagare").draggable()
        $("#pnlPagare").draggable({
            drag: function (event, ui) {
                $("#px").val(ui.position.left);
                $("#py").val(ui.position.top);
            }
        });

    </script>*@
</body>
</html>
