@using CampanasDelDesierto_v1.HerramientasGenerales
@using System.Globalization;
@model CampanasDelDesierto_v1.Models.PrestamoYAbonoCapital
@using CampanasDelDesierto_v1.Models;

@{
    Layout = null;
    Model.montoMovimiento *= -1;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Impresion de Pagare - Campanas del Desierto</title>
</head>
<body>
    <div id="pnlPagare">
        <img src="/images/Pagare.jpg" />
        <span id="ImportePagare">
            @Html.DisplayFor(model => model.montoMovimiento) Dólares
        </span>
        <span id="Dia">
            @Model.fechaMovimiento.ToString("dd", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="mes">
            @Model.fechaMovimiento.ToString("MMMM", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="año">
            @Model.fechaMovimiento.ToString("yyyy", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="montoMovimiento">
            @(NumbersTools.NumberToText.Convert(Model.montoMovimiento)) U.S.Cy.
        </span>
        <span id="diafechaMovimiento">
            @Model.fechaMovimiento.ToString("dd", CultureInfo.CreateSpecificCulture("es-MX"))
            @*@Model.Productor.fechaPagar.ToString("dd",CultureInfo.CreateSpecificCulture("es-MX"))
                @(((PrestamoYAbonoCapital)Model).Productor.fechaPagar)*@
        </span>
        <span id="mesfechaMovimiento">
            @Model.fechaMovimiento.ToString("MMMM", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="añofechaMovimiento">
            @Model.fechaMovimiento.ToString("yyyy", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="NombreProductor">
            @Html.DisplayFor(model => model.Productor.nombreCheque)
        </span>
        <span id="DomicilioProductor">
            @Html.DisplayFor(model => model.Productor.domicilio)
        </span>
        <span id="PoblacionProductor">
            @Html.DisplayFor(model => model.Productor.poblacion)
        </span>
        <span id="telefonoProductor">
            @Html.DisplayFor(model => model.Productor.telefono)
        </span>
        <span id="representanteLegal">
            @Html.DisplayFor(model => model.Productor.nombreRepresentanteLegal)
        </span>
        <span id="RFCProductor">
            @Html.DisplayFor(model => model.Productor.RFC)
        </span>
        <span id="numProductor">
            @Html.DisplayFor(model => model.Productor.numProductor)
        </span>
        <span id="descripcionConcepto">
            @Html.DisplayFor(model => model.descripcionConcepto)
        </span>
        <span id="pozo">
            @Html.DisplayFor(model => model.pozo)
        </span>

        <span id="cheque">
            @Html.DisplayFor(model => model.cheque)
        </span>
        <span id="TipoCambio">
            @Html.DisplayFor(model => model.precioDelDolar)
        </span>

        @*CAMPOS EDITABLES*@
        <span id="tasaAnual">
            <input id="inputTasaAnual" type="number" value="10" style="width: 30px" />
        </span>
        <span id="serieNumerada">
            <input id="inputSerieNumerada" type="number" value="1" style="width: 30px" />
        </span>
        <span id="tasaMoratoria">
            <input id="inputTasaMoratoria" type="number" value="10" style="width: 30px" />
        </span>
        <span id="numReporte">
            <input id="inputReporte" type="text" value="NA" style="width: 70px" />
        </span>
        <span id="OrdenCompra">
            <input id="inputOrdenDeCompra" type="text" value="NA" style="width: 80px" />
        </span>
    </div>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #pnlPagare span {
            position: absolute;
            font-size: 18px;
        }

        span#ImportePagare {
            left: 175mm;
            top: 19mm;
        }

        span#Dia {
            left: 199mm;
            top: 45mm;
        }

        span#mes {
            left: 25mm;
            top: 50mm;
        }

        span#año {
            left: 72mm;
            top: 51mm;
        }

        span#montoMovimiento {
            left: 128mm;
            top: 52mm;
            font-size: 14px;
        }

        span#diafechaMovimiento {
            left: 141mm;
            top: 26mm;
        }

        span#mesfechaMovimiento {
            left: 165mm;
            top: 26mm;
        }

        span#añofechaMovimiento {
            left: 205mm;
            top: 26mm;
        }

        span#NombreProductor {
            left: 35mm;
            top: 133mm;
            font-size: 12px;
        }

        span#DomicilioProductor {
            left: 38mm;
            top: 140mm;
            font-size: 12px;
        }

        span#PoblacionProductor {
            left: 38mm;
            top: 145mm;
        }

        span#representanteLegal {
            left: 150mm;
            top: 132mm;
        }

        span#RFCProductor {
            left: 20mm;
            top: 155mm;
        }

        span#numProductor {
            left: 200mm;
            top: 155mm;
        }

        span#descripcionConcepto {
            left: 45mm;
            top: 170mm;
            font-size: 14px;
        }

        span#telefonoProductor {
            left: 93mm;
            top: 140mm;
            font-size: 14px;
        }
        span#pozo {
            left: 52mm;
            top: 203mm;
        }

        span#cheque {
            left: 140mm;
            top: 181mm;
        }

        span#TipoCambio {
            left: 140mm;
            top: 191mm;
        }

        span#tasaAnual {
            left: 28mm;
            top:  65mm;
        }

        span#serieNumerada {
            left: 195mm;
            top: 65mm;
        }

        span#tasaMoratoria {
            left: 140mm;
            top:  87mm;
        }

        span#numReporte {
            left: 65mm;
            top: 180mm;
        }

        span#OrdenCompra {
            left: 77mm;
            top: 191mm;
        }

        /*Calibracion de margen*/
        #pnlPagare {
            position: relative;
            left: 2mm;
            top: 1mm;
            
            /*Tamaño de papel Letter*/
            width: 8.5in;
            height: 11in;
        }

        #pnlPagare img {
            position: absolute;
            z-index: 0;
            width: 9.40in; /*Factor: .9788*/
            height: 12.64in; /*Factor: 1.042*/
        }

        @@media print {
            @@page {
                size: letter;
                margin: 0;
                padding: 0;
            }

            #pnlPagare img {
                display: none;
                /*border: 1px solid black;*/
            }

            span input {
                background: none;
                border: none;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                /* display: none; <- Crashes Chrome on hover */
                -webkit-appearance: none;
                margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
            }
        }
        /*@@media print and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { body { zoom: 150%; } }*/
    </style>
</body>
</html>