@model CampanasDelDesierto_v1.Models.Productor

<p>
    @Html.ActionLink("Capital", "Create", "PrestamoYAbonoCapitals", new { id = Model.idProductor }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Pago por Productos", "Create", "PagosPorProductos", new { id = Model.idProductor }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Ventas a credito", "Create", "VentaACreditos", new { id = Model.idProductor }, new { @class = "btn btn-primary" })
</p>
@if (Model != null && Model.MovimientosFinancieros.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovimientosFinancieros.FirstOrDefault().montoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovimientosFinancieros.FirstOrDefault().balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovimientosFinancieros.FirstOrDefault().fechaMovimiento)
            </th>
            <th class="actions"></th>
        </tr>

        @foreach (var item in Model.MovimientosFinancieros)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.montoMovimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaMovimiento)
                </td>
                <td>
                    <div class="dropdown_actions">
                        <button onclick="openActionsDropDown()" class="dropbtn btn btn-default">
                            <i class="glyphicon glyphicon-option-horizontal"></i>
                        </button>
                        <div id="myDropdown" class="dropdown-content">
                            @Html.ActionLink("Edit", "Edit", new { id = item.idMovimiento })
                            @Html.ActionLink("Details", "Details", new { id = item.idMovimiento })
                            @Html.ActionLink("Delete", "Delete", new { id = item.idMovimiento })
                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="alert alert-warning">
        <strong>No existen</strong> movimientos financieros para este productor.
    </div>
}