@model CampanasDelDesierto_v1.Models.Productor
@using CampanasDelDesierto_v1.Models;

@{ 
    int temporada = ViewBag.temporada;
    MovimientoFinanciero adeudo = Model.adeudoInicialArboles;

    @*Solo ventas de olivo*@
    var movimientos = Model.MovimientosFinancieros
    .Where(mov => mov.TemporadaDeCosechaID == temporada)
    .Where(mov => mov.tipoDeBalance == MovimientoFinanciero.TipoDeBalance.VENTA_OLIVO)
    .OrderBy(mov => mov.fechaMovimiento).ToList();

    List<TemporadaDeCosecha> temporadas = ViewBag.temporadas;
}

@if (Model != null && movimientos.Count() > 0)
{
    <div class="col-md-12">
        <table class="table table-hover table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MovimientosFinancieros.FirstOrDefault().fechaMovimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovimientosFinancieros.FirstOrDefault().montoMovimiento)
                </th>
                <th width="25%">
                    @Html.DisplayNameFor(model => model.MovimientosFinancieros.FirstOrDefault().concepto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovimientosFinancieros.FirstOrDefault().balance)
                </th>
                <th class="actions"></th>
            </tr>

            @foreach (var item in movimientos)
            {
                <tr >
                    <td >
                        @Html.DisplayFor(modelItem => item.fechaMovimiento)
                    </td>
                    <td class='@(item.montoMovimiento<0?"montoNegativo":"")' 
                        @(item.getTypeOfMovement() == MovimientoFinanciero.TypeOfMovements.LIQUIDACION ? "style=color:green" : "")>
                        @Html.DisplayFor(modelItem => item.montoMovimiento)
                    </td>
                    <td width="25%">
                        @Html.DisplayFor(modelItem => item.concepto)
                    </td>
                    <td class='@(item.balance<0?"montoNegativo":"")'>
                        @Html.DisplayFor(modelItem => item.balance)
                    </td>
                    <td>
                        @*Solo se mostrara el boton de funciones Si el movimiento no es una rentencion y 
                            ademas no es un ingreso de de cosecha ya reportado como liquidado*@
                        @if (!(item.getTypeOfMovement() == MovimientoFinanciero.TypeOfMovements.CAPITAL
                                && ((PrestamoYAbonoCapital)item).abonoEnliquidacionID != null)
                            ) {
                            <div class="dropdown_actions">
                                <button onclick="openActionsDropDown(this)"
                                        class="dropbtn btn btn-default">
                                    <i class="glyphicon glyphicon-option-horizontal"></i>
                                </button>
                                <div id="myDropdown"
                                     class="dropdown-content">
                                    <a href="@Url.Action("Edit",item.getNombreControlador(), new { id = item.idMovimiento })">
                                        <i class="glyphicon glyphicon-edit"></i> Editar
                                    </a>

                                    <a href="@Url.Action("Details","MovimientoFinancieros", new { id = item.idMovimiento })">
                                        <i class="glyphicon glyphicon-print"></i> Detalles
                                    </a>

                                    <a href="@Url.Action("Delete","MovimientoFinancieros", new { id = item.idMovimiento })">
                                        <i class="glyphicon glyphicon-remove"></i> Borrar
                                    </a>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }

        </table>         
    </div>
    <div style="text-align:right">
        <span><strong style="color:red">TOTAL DE DEUDA: </strong>@Model.totalDeudaVentaArbolito</span>
        <span><strong style="color:red">TOTAL DE ABONO: </strong>@Model.totalAbonoArbolito</span>
    </div>
}
else
{
    <div class="alert alert-warning col-md-12">
        <strong>No existen</strong> movimientos financieros en este periodo para este productor.
    </div>
}

<script>
    function submitBusqueda(ddl) {
        $(ddl).closest("form").submit();
    }
</script>