@model CampanasDelDesierto_v1.Models.Inventario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="@Url.Action("Details","Departamentos",new { id = Model.departamentoID })">
        <i class="fa fa-arrow-circle-left"></i> Regresar
    </a>
    <a href="@Url.Action("Edit","Departamentos",new { id = Model.departamentoID })">
        <i class="glyphicon glyphicon-pencil"></i> Editar
    </a><br />
</p>
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>Departamento:</strong> @Html.DisplayFor(model => model.Departamento.nombreDepartamento)</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <dl class="dl-horizontal col-md-6">
                <dt>@Html.DisplayNameFor(model => model.Departamento.domicilio)</dt>
                <dd>@Html.DisplayFor(model => model.Departamento.domicilio) </dd>

                <dt> @Html.DisplayNameFor(model => model.Departamento.Sucursal.nombreSucursal)</dt>
                <dd> @Html.DisplayFor(model => model.Departamento.Sucursal.nombreSucursal) </dd>

                <dt> @Html.DisplayName("Activos Disponibles")</dt>
                <dd> @(Model.Departamento.activosDisponibles()) </dd>

                <dt> @Html.DisplayName("Activos Prestados")</dt>
                <dd> @(Model.Departamento.activosPrestados())  </dd>
            </dl>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title"><strong>Eliminar</strong></h1>
    </div>
    <div class="panel-body">
        <h3>¿Estás seguro que quieres eliminar esto?</h3>
        <div class="row">
            <dl class="dl-horizontal col-md-6">
                <dt>@Html.DisplayNameFor(model => model.Departamento.nombreDepartamento)</dt>
                <dd>@Html.DisplayFor(model => model.Departamento.nombreDepartamento)</dd>
                <dt>@Html.DisplayNameFor(model => model.nombreInventario)</dt>
                <dd>@Html.DisplayFor(model => model.nombreInventario)</dd>
                <dt>@Html.DisplayNameFor(model => model.modeloInventario)</dt>
                <dd>@Html.DisplayFor(model => model.modeloInventario)</dd>
            </dl>
            <dl class="dl-horizontal col-md-6">
                <dt>@Html.DisplayNameFor(model => model.costo)</dt>
                <dd>@Html.DisplayFor(model => model.costo)</dd>
                <dt>@Html.DisplayNameFor(model => model.cantidad)</dt>
                <dd>@Html.DisplayFor(model => model.cantidad)</dd>
            </dl>
        </div>
        <div class="form-group">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-10">
                        <button class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
