@model CampanasDelDesierto_v1.Models.Inventario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sucursal.nombreSucursal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal.nombreSucursal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreInventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreInventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modeloInventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modeloInventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Model.Activos.Count()
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.inventarioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div class="">
    <legend>Inventarios</legend>


    <div>
        <table class="table datablejs">
            <thead>
                <tr>
                    <th>Nombre del Activo</th>
                    <th>Estado del Activo</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var activo in Model.Activos)
            {
                    <tr>
                        <td>@(activo.nombreActivo)</td>
                        <td>@activo.estadoActivo</td>
                        <td>@Html.ActionLink("Eliminar", "Delete", "Activos", new { id = activo.idActivo }, null)  </td>
                        <td>@Html.ActionLink("Detalles", "Details", "Activos", new { id = activo.idActivo }, null)  </td>
                        <td>@Html.ActionLink("Editar", "Edit", "Activos", new { id = activo.idActivo }, null)  </td>
                        <td>@Html.ActionLink("Crear Prestamo", "Create", "PrestamosActivos", new { id = activo.idActivo }, new { @class = "btn btn-primary" })</td>
                    </tr>
                }
            </tbody>


        </table>



    </div>
</div>
<div>
    @Html.ActionLink("Crear Activo", "Create", "Activos", new { id = Model.inventarioID }, new { @class = "btn btn-primary" })
</div>
