@model CampanasDelDesierto_v1.Models.Inventario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a href="@Url.Action("Index","Departamentos",new { id = Model.departamentoID })">
        <i class="fa fa-arrow-circle-left"></i> Regresar
    </a>
    <a href="@Url.Action("Edit","Departamentos",new { id = Model.departamentoID })">
        <i class="glyphicon glyphicon-pencil"></i> Editar
    </a>

</p>
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>Inventario:</strong> @(Model.nombreInventario)</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <dl class="dl-horizontal col-md-6">
                <dt>@Html.DisplayNameFor(model => model.Departamento.Sucursal.nombreSucursal)</dt>
                <dd>@Html.DisplayFor(model => model.Departamento.Sucursal.nombreSucursal) </dd>

                <dt>@Html.DisplayNameFor(model => model.Departamento.nombreDepartamento)</dt>
                <dd>@Html.DisplayFor(model => model.Departamento.nombreDepartamento) </dd>

                <dt> @Html.DisplayNameFor(model => model.modeloInventario)</dt>
                <dd> @Html.DisplayFor(model => model.modeloInventario) </dd>
            </dl>
            <dl class="dl-horizontal col-md-6">
                <dt> @Html.DisplayNameFor(model => model.costo)</dt>
                <dd> @Html.DisplayFor(model => model.costo) </dd>

                <dt> @Html.DisplayName("Activos Disponibles")</dt>
                <dd> @(Model.CantidadActivosDisponibles())  </dd>

                <dt> @Html.DisplayName("Activos Prestados")</dt>
                <dd> @(Model.CantidadActivosPrestados())  </dd>
            </dl>
        </div>
    </div>
</div>

    <legend>Activos</legend>

    <a href="@Url.Action("Create","Activo",new { id = Model.inventarioID})">
         <i class="glyphicon glyphicon-plus"></i> Crear Activo
    </a><br />

        <table class="table datablejs">
            <thead>
                <tr>
                    <th>Nombre del Activo</th>
                    <th>Estado del Activo</th>
                    <th></th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var activo in Model.Activos)
            {
                    <tr>
                        <td>@(activo.nombreActivo)</td>
                        <td>@activo.estadoActivo</td>
                        <td>
                            <a href="@Url.Action("Delete","Activos",new { id = activo.idActivo })">
                                <i class="glyphicon glyphicon-remove"></i> Eliminar
                            </a><br />
                            <a href="@Url.Action("Details","Activos",new { id = activo.idActivo })">
                                <i class="glyphicon glyphicon-pencil"></i> Detalles
                            </a><br />
                            <a href="@Url.Action("Edit","Activos",new { id = activo.idActivo })">
                                <i class="glyphicon glyphicon-pencil"></i> Editar
                            </a><br />
                            <a href="@Url.Action("Create","PrestamosActivos",new { id = activo.idActivo })">
                                <i class="glyphicon glyphicon-plus"></i> Crear Prestamo
                            </a><br />
                        </td>                       
                    </tr>
                }
            </tbody>
        </table>


