@model IEnumerable<CampanasDelDesierto_v1.Models.Inventario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Departamento.nombreDepartamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreInventario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modeloInventario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costo)
        </th>
        <th>
            Activos
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento.nombreDepartamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreInventario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modeloInventario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costo)
        </td>
        <td>
            @item.Activos.Count()
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.inventarioID }) |
            @Html.ActionLink("Ver Activos", "Details", new { id=item.inventarioID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.inventarioID })
        </td>
    </tr>
}

</table>
