@model IEnumerable<CampanasDelDesierto_v1.Models.Inventario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventario</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sucursal.nombreSucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreInventario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modeloInventario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursal.nombreSucursal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreInventario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modeloInventario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costo)
        </td>
        <td>
            <a href="@Url.Action("Edit","Inventarios",new { id = item.inventarioID })">
                <i class="glyphicon glyphicon-pencil"></i> Editar
            </a><br />
            <a href="@Url.Action("Details","Inventarios",new { id = item.inventarioID })">
                <i class="glyphicon glyphicon-eye-open"></i> Detalles
            </a><br />
            <a href="@Url.Action("Delete","Inventarios",new { id = item.inventarioID })">
                <i class="glyphicon glyphicon-remove"></i> Eliminar
            </a>
        </td>
    </tr>
}

</table>
