@using CampanasDelDesierto_v1.HerramientasGenerales
@using System.Globalization;
@model CampanasDelDesierto_v1.Models.LiquidacionSemanal.VMDatosDeCheque
@using CampanasDelDesierto_v1.Models;

@{
    Layout = null;
    Model.montoMovimiento = Math.Abs(Model.montoMovimiento);
    string currency = "Dólares";
}
    
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Impresion de Cheque - Campanas del Desierto</title>
    </head>
<body>
    <div id="pnlCheque">
        <img src="~/images/Cheque.jpg" />
        <span id="nombreCheque">
            @if (Model.tipoDeMovimiento == MovimientoFinanciero.TypeOfMovements.LIQUIDACION)
            {
                @Html.DisplayFor(model => model.productor.nombreCheque)
            }
            @if (Model.tipoDeMovimiento == MovimientoFinanciero.TypeOfMovements.RENTENCION)
            {
                <input value="@Html.DisplayFor(model => model.productor.nombreCheque)"/>
            }
        </span>
        <span id="montoMovimiento">   
            @(Math.Abs(Model.montoMovimiento).ToString("C"))
        </span>
        <span id="montoLetra">
            <a>Son:</a>  @(NumbersTools.NumberToText.Convert(Model.montoMovimiento, currency).Replace(",","")) U.S.Cy.
        </span>
        <span id="fechaMovimiento">
            @Model.fechaMovimiento.ToString("dd 'de' MMMM 'de' yyyy", CultureInfo.CreateSpecificCulture("es-MX"))
        </span>
        <span id="concepto">
            <a>Productor: </a>@Html.DisplayFor(model => model.productor.numProductor)
            <br />
            @if (Model.tipoDeMovimiento == MovimientoFinanciero.TypeOfMovements.LIQUIDACION)
            { 
                <a>Semana: </a>
                @("No. " + Model.semana + " del " + Model.semanaLiquidada.startDate.ToString("dd 'de' MMMM yyyy") 
                    + " al " + Model.semanaLiquidada.endDate.ToString("dd 'de' MMMM  yyyy"))
            }
            @if (Model.tipoDeMovimiento == MovimientoFinanciero.TypeOfMovements.RENTENCION)
            {
                <a>Liberación de </a>@(Model.nombreRetencion)
            }
        </span>
    </div>

    <style>
            *{
                margin: 0;
                padding: 0;
            }

            #pnlCheque span {
                position: absolute;
                font-size: 18px;
            }

            #pnlCheque img {
                position: absolute;
                left: 0;
                z-index: 0;
            }

            span#nombreCheque {
                left: 18mm;
                top: 38mm;
                font-size: 1em;
            }

            span#nombreCheque input{
                font-size: 1em;
                width: 30em;
            }

            span#montoMovimiento {
                top: 37mm;
                left: 161mm;
            }

            span#montoLetra{
                top: 46mm;
                left: 17mm;
            }
             span#concepto{
                top: 104mm;
                left: 10mm;
                font-size: 14px;
            }

            span#fechaMovimiento {
                top: 18mm;
                left: 152mm;
            }

            span#cheque {
                left: 165mm;
                top: 5mm;
            }

            #pnlCheque {
                position: relative;
                left: 0;
                top: 0;

                /*Tamaño de papel Letter*/
                width: 8.5in;
                height: 11in;
            }

            #pnlCheque img {
                position: absolute;
                z-index: 0;
                width: 8.31in; /*Factor: */
                height: 11in;/*Factor:*/
            }

            @@page {
                size: letter;
                margin: 0;
                padding: 0;
            }

            @@media print {
                #pnlCheque img {
                    display:none;
                }

                span input {
                    background: none;
                    border: none;
                }
            }
        </style>
    </body>
</html>

