@using CampanasDelDesierto_v1.Models
@using CampanasDelDesierto_v1.HerramientasGenerales
@model CampanasDelDesierto_v1.Models.LiquidacionSemanal

@{
    //Determa si la pantalla se encuentra en modo de edicion
    bool editMode = Model.idMovimiento > 0;

    //Es reporte de liquidacion
    bool reportMode = ViewBag.reportMode != null? ViewBag.reportMode : false;

    ViewBag.Title = reportMode?"Reporte":(editMode ? "Edición":"Registro"+" de Liquidacion Semanal");
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Se determina el precio actual del dolar
    BaxicoWebService bws = new BaxicoWebService();
    string errorMessagePrecioDolar = String.Empty;
    decimal precioDolar = bws.getCambioDolar(ref errorMessagePrecioDolar);

    //Objeto para la forma de retenciones
    LiquidacionSemanal.VMRetenciones retenciones = new LiquidacionSemanal.VMRetenciones();

    Productor productor = Model.Productor;

    bool actualizar = false;
    if (editMode)
    {
       actualizar = ViewBag.actualizar;
    }

    //Se buscan todos los ingresos de cosecha que se han hecho por el productor
    List<PagoPorProducto> ingresosDeCosecha = new List<PagoPorProducto>();

    //Si es busqueda regular para crear
    if (!editMode)
    {
        ingresosDeCosecha = productor.filtrarPagosPorProducto(Model.temporadaDeCosecha, Model.semanaLiquidada, Model.semana)
            .Where(ing => ing.liquidacionDeCosechaID == null).ToList();
    }
    //Si es edicion
    else
    {
        //Se toma los ingresos ya asociados
        ingresosDeCosecha = Model.ingresosDeCosecha.ToList();
        //Si es actualizacion, se agregan a los ya asociados aquellos que nos eencuentran asociados con nada
        if (actualizar)
        {
            List<PagoPorProducto> ingresosDeCosechaNuevos = productor.filtrarPagosPorProducto(Model.temporadaDeCosecha, Model.semanaLiquidada, Model.semana)
            .Where(ing => ing.liquidacionDeCosechaID == null).ToList();
            ingresosDeCosecha.AddRange(ingresosDeCosechaNuevos);
            ingresosDeCosecha = ingresosDeCosecha.Where(mov=>Model.semanaLiquidada.hasInside(mov.fechaMovimiento))
                .OrderBy(mov => mov.fechaMovimiento).ToList();
        }
    }

    //Se determina el costo de el producto segun la zona del productor
    var productos = Model.temporadaDeCosecha.getListaProductos(productor.zona);

    //Se genera el reporte semanal
    var ingresoSemanal = productor.generarReporteSemanalIngresosCosecha(ingresosDeCosecha, productos, precioDolar);

    //Se calcula el total de ingreso por la cosecha registrada
    decimal costoCosechaSemana = ingresoSemanal.Sum(ingreso => ingreso.monto);
    Model.montoMovimiento = costoCosechaSemana; //Calculo de monto total por producto

    //Retenciones
    decimal retencionTotal = 0;
    decimal retencionAbono = 0;
    if (editMode)
    {
        //Calculo de retenciones capturadas
        retenciones.abonoAnticipos = Model.getMontoRetencion(Retencion.TipoRetencion.ABONO);
        retenciones.garantiaLimpieza = Model.getMontoRetencion(Retencion.TipoRetencion.SANIDAD);
        retenciones.retencionEjidal = Model.getMontoRetencion(Retencion.TipoRetencion.EJIDAL);
        retenciones.retencionOtro = Model.getMontoRetencion(Retencion.TipoRetencion.OTRO);

        retencionTotal = retenciones.total;
        retencionAbono = retenciones.abonoAnticipos;
        Model.montoMovimiento -= retencionTotal;
    }

    Model.fechaMovimiento = Model.semanaLiquidada.endDate;

    //Estado actual de finanzas del productor
    decimal balanceActual = ViewBag.balanceActual;
    if (editMode)
    {
        balanceActual += retencionAbono;
    }

    //Datos para parcial de informacion de productor
    ViewDataDictionary vddProductorInfo = new ViewDataDictionary();
    vddProductorInfo.Add("temporada", Model.temporadaDeCosecha);

    //Datos para parcial de reporte semanal
    ViewDataDictionary vddReporteSemanal = new ViewDataDictionary();
    vddReporteSemanal.Add("ingresosDeCosecha", ingresosDeCosecha);
}
<p>
    <a href="@Url.Action("Details","Productores", new { id = productor.idProductor, temporada = Model.TemporadaDeCosechaID })">
        <i class="glyphicon glyphicon-arrow-left"></i> Ver Movimientos de este Productor
    </a>
</p>

@*Informacino de productor*@
@Html.Partial("../Productores/Partial_InfoProductor", productor, vddProductorInfo)

@*Datos globales*@
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong style="color: white">@(editMode ? "Editar" : "Registrar")</strong>
            <span>Liquidación Semanal</span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*Forma para consulta de ingresos de cosecha por semana*@
            @using (Html.BeginForm(editMode?"Edit":"Create", "LiquidacionSemanal", FormMethod.Get, new {@class= "col-md-12" }))
            {
                @Html.AntiForgeryToken()
                if (editMode) { 
                    @Html.Hidden("actualizar", true)
                }

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.semanaLiquidada.startDate)
                    @Html.EditorFor(model => model.semanaLiquidada.startDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.semanaLiquidada.startDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.semanaLiquidada.endDate)
                    @Html.EditorFor(model => model.semanaLiquidada.endDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.semanaLiquidada.startDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-1">
                    @Html.LabelFor(model => model.semana)
                    @Html.EditorFor(model => model.semana, new { htmlAttributes = new { @class = "form-control", min = 0,
                        oninput = "$('#formLiquidacionSemanal input#semana').val($(this).val())"
               } })
                    @Html.ValidationMessageFor(model => model.semana, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    <div id="divPrecioDelDolar" class="col-md-7">
                        @Html.LabelFor(model => model.precioDelDolarEnLiquidacion)
                        @Html.EditorFor(model => model.precioDelDolarEnLiquidacion, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control",
                           data_mask_reverse = "true",
                           data_mask = "###0.0000"
                       }
                   })
                        @Html.ValidationMessageFor(model => model.precioDelDolarEnLiquidacion, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        <a class="satLogo" target="_blank"
                           href="http://www.sat.gob.mx/informacion_fiscal/tablas_indicadores/Paginas/tipo_cambio.aspx">
                            <img src="/images/sat_logo.png" />
                        </a>
                        <img id="loadingImg" src="~/images/loading.gif" class="hidden"/>
                    </div>
                </div>

                <div class="form-group col-md-1">
                    <button class="btn btn-primary">@(!editMode?"Buscar":"Actualizar")</button>
                </div>
            }
        </div>

        @*Ingreso de cosecha*@
        @Html.Partial("Partial_ReporteSemanalCosecha", ingresoSemanal, vddReporteSemanal)

        @using (Html.BeginForm(editMode?"Edit":"Create", "LiquidacionSemanal", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.idMovimiento)
            @Html.HiddenFor(model => model.idProductor)
            @Html.HiddenFor(model => model.TemporadaDeCosechaID)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model=>model.semanaLiquidada.startDate)
            @Html.HiddenFor(model => model.semanaLiquidada.endDate)
            @Html.HiddenFor(model=>model.abonoAnticipoID)

            foreach (var ing in ingresosDeCosecha)
            {
                @Html.Hidden("ingresosDeCosechaID",ing.idMovimiento)
            }

            @*Retenciones*@
            @Html.Partial("Partial_ReporteSemanalRetencionesForm", retenciones)

            @*Total a pagar*@
            <div class="panel panel-primary" id="formLiquidacionSemanal">
                <div class="panel-heading">
                    <h3 class="panel-title">Liquidación Semanal</h3>
                </div>
                <div class="panel-body">
                    @*Monto de cosecha*@
                    <div class="form-group col-md-4">
                        <label class = "control-label col-md-5">Monto Total por Cosecha (USD):</label>
                        <div class="col-md-7">
                            <input id="inputCostoCosechaSemana" class = "form-control"
                                   data-mask = "###0.00" data-mask-reverse = "true" 
                                   value="@costoCosechaSemana.ToString("C")" readonly/>
                        </div>
                    </div>
                    @*Menos*@
                    <span class="col-md-1" style="font-size:2em">-</span>

                    @*Retenciones*@
                    <div class="form-group col-md-3">
                        <label class="control-label col-md-5">Retenciones Totales (USD): </label>
                        <div class="col-md-7">
                            <input id="inputTotalRetencion" class="form-control"
                                   data-mask="###0.00" data-mask-reverse="true"
                                   value="@retencionTotal.ToString("C")" readonly />
                        </div>
                    </div>

                    @*Igual A*@
                    <span class="col-md-1" style="font-size:2em">=</span>

                    @*MOnto total a pagar*@
                    <div class="form-group col-md-3">
                        <label class="control-label col-md-5">Total a Pagar (USD): </label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.montoMovimiento, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control",
                               data_mask = "###0.00",
                               data_mask_reverse = "true",
                               @readonly="readonly"
                           }
                       })
                            @Html.ValidationMessageFor(model => model.montoMovimiento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*Liquidacion*@

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.fechaMovimiento, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.fechaMovimiento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.fechaMovimiento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.cheque, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.cheque, new { htmlAttributes = new { @class = "form-control", oninput="$(this).val($(this).val().toUpperCase())" } })
                            @Html.ValidationMessageFor(model => model.cheque, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.semana, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.semana, new { htmlAttributes = new { @class = "form-control", @readonly= "readonly", min=0 } })
                            @Html.ValidationMessageFor(model => model.semana, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <button class="btn btn-success" @(ingresosDeCosecha.Count()==0?"disabled":"")>
                                @(editMode ? "Guardar" : "Crear")
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            @*Saldo Adeudo acumulado*@
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Saldo de Adeudo Acumulado</h3>
                </div>
                <div class="panel-body">
                    @*Balance Actual*@
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Productor.balanceActual, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <input id="balanceActual" class="form-control"
                                   data-mask="###0.00" data-mask-reverse="true"
                                   value="@balanceActual.ToString("C")" readonly />
                        </div>
                    </div>   

                    @*Menos*@
                    <span class="col-md-1" style="font-size:2em">-</span>

                    @*Retenciones*@
                    <div class="form-group col-md-3">
                        <label class="control-label col-md-5">Abono de la semana (USD): </label>
                        <div class="col-md-7">
                            <input id="inputAbonoSemana" class="form-control"
                                   data-mask="###0.00" data-mask-reverse="true"
                                   value="@retencionAbono.ToString("C")" readonly />
                        </div>
                    </div>

                    @*Igual A*@
                    <span class="col-md-1" style="font-size:2em">=</span>

                    @*MOnto total a pagar*@
                    <div class="form-group col-md-3">
                        <label class="control-label col-md-5">Saldo a Liquidar (USD): </label>
                        <div class="col-md-7">
                            <input id="inputSaldoLiquidar" class="form-control"
                                   data-mask="###0.00" data-mask-reverse="true"
                                   value='@((balanceActual - retencionAbono).ToString("C"))' readonly />
                        </div>
                    </div>
                </div>
            </div>
            }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#formRetenciones input").keyup(function () {
            var totalRetencion=0;
            $.each($("#formRetenciones input"), function (idx, item) {
                totalRetencion += Number($(item).val());
            });

            if ($(this).attr("id") == "abonoAnticipos") {
                $("#inputAbonoSemana").val($(this).val());
                var saldoPagar = $("#balanceActual").val() - $(this).val()
                $("#inputSaldoLiquidar").val(numeral(saldoPagar).format('0.00')).trigger('input');
            }

            $("#inputTotalRetencion").val(numeral(totalRetencion).format('0.00')).trigger('input');
            var totalAPagar = $("#inputCostoCosechaSemana").val() - totalRetencion;
            $("#montoMovimiento").val(numeral(totalAPagar).format('0.00')).trigger('input');

        })
        function recalcularMonto(tbRetencion) {
            var retencion = Number($(tbRetencion).val());
            $("#montoMovimiento").val(numeral(@Model.montoMovimiento -retencion)
                .format('0.00')).trigger('input');
        }

        function setPrecioDolar() {
            var antiForgeryToken = $("input[name=__RequestVerificationToken]").val();
            $("#loadingImg").toggleClass('hidden');

            //Se hace solicitud del precio del dolar al server
            getTipoCambioAsync(
                function (res) {
                    $("#precioDelDolarEnLiquidacion").val(numeral(res.precioDolar).format('0.0000')).trigger('input');
                    $('#precioDelDolarEnLiquidacion').attr('value', res.precioDolar);
                    precioDolar = res.precioDolar;
                    //recalcularMontoDolares();
                },
                function (err) { },
                function () {
                    $("#loadingImg").toggleClass('hidden');@*
                    $('#divPrecioDelDolar').removeClass('col-md-8');
                    $('#divPrecioDelDolar').addClass('col-md-9');*@
                }, antiForgeryToken)
        }
        setPrecioDolar();
    </script>
}
