@model CampanasDelDesierto_v1.Models.PrestamoYAbonoCapital

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quieres eliminar esto?
</h3>
<div>
    <h4>Prestamo y abono capital</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Productor.nombreProductor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productor.nombreProductor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montoMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaDePrestamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaDePrestamo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cheque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cheque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.concepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.concepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pagare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pagare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaPagar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaPagar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-10">
                <button class="btn btn-danger">Eliminar</button>
            </div>
        </div>

        <div>
            <a href="@Url.Action("Index")">
                <i class="glyphicon glyphicon-arrow-left"></i>Volver a la lista
            </a>
        </div>
    }
</div>
