@model CampanasDelDesierto_v1.Models.PrestamoYAbonoCapital

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Prestamo y abono capital</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Productor.nombreProductor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productor.nombreProductor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montoMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaMovimiento)
        </dd>
@*
    <dt>
        @Html.DisplayNameFor(model => model.fechaDePrestamo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.fechaDePrestamo)
    </dd>
*@
        <dt>
            @Html.DisplayNameFor(model => model.cheque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cheque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.concepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.concepto)
        </dd>

        @*<dt>
        @Html.DisplayNameFor(model => model.cargo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.cargo)
    </dd>
        *@
        <dt>
            @Html.DisplayNameFor(model => model.pagare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pagare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaPagar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaPagar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota)
        </dd>

    </dl>
</div>
<p class="hidden-print">
    <a href="@Url.Action("Edit","PrestamoYAbonoCapitals",new { id = Model.idMovimiento })">
        <i class="glyphicon glyphicon-pencil"></i> Editar
    </a><br />

    <div>
        <a href="@Url.Action("Index")">
            <i class="glyphicon glyphicon-arrow-left"></i>Volver a la lista
        </a>
    </div>
</p>

<input style="Background-color:#cbc06e" class="hidden-print" type="button"
       onClick="window.print()"
       value="Imprimir" />




