@model CampanasDelDesierto_v1.Models.PrestamoYAbonoCapital


<div class="form-group col-md-4">
    @Html.LabelFor(model => model.cheque, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        <p class="form-control-static">@Html.DisplayFor(model => model.cheque)</p>
    </div>
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.concepto, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        <p class="form-control-static">@Html.DisplayFor(model => model.concepto)</p>
    </div>
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.proveedor, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        <p class="form-control-static">@Html.DisplayFor(model => model.proveedor)</p>
    </div>
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.fechaPagar, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        <p class="form-control-static">@Html.DisplayFor(model => model.fechaPagar)</p>
    </div>
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.pagare, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        <p class="form-control-static">@Html.DisplayFor(model => model.pagare)</p>
    </div>
</div>



