@model IEnumerable<CampanasDelDesierto_v1.Models.PrestamoYAbonoCapital>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Anticipos</h2>


<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Productor.nombreProductor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montoMovimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaMovimiento)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.fechaDePrestamo)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.cheque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.concepto)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.cargo)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.pagare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaPagar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Productor.nombreProductor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoMovimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaMovimiento)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.fechaDePrestamo)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.cheque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.concepto)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.cargo)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.pagare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaPagar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.balance)
        </td>
        <td>
            <a href="@Url.Action("Edit","PrestamoYAbonoCapitals",new { id = item.idMovimiento })">
                <i class="glyphicon glyphicon-pencil"></i> Editar
            </a><br />
            <a href="@Url.Action("Details","PrestamoYAbonoCapitals",new { id = item.idMovimiento })">
                <i class="glyphicon glyphicon-print"></i> Imprimir
            </a><br />
            <a href="@Url.Action("Delete","PrestamoYAbonoCapitals",new { id = item.idMovimiento })">
                <i class="glyphicon glyphicon-remove"></i> Eliminar
            </a>
            
        </td>
    </tr>
}

</table>
