@model CampanasDelDesierto_v1.Models.Sucursal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a href="@Url.Action("Index","Sucursales",new { id = Model.idSucursal })">
        <i class="fa fa-arrow-circle-left"></i> Regresar
    </a>
    <a href="@Url.Action("Edit","Sucursales",new { id = Model.idSucursal })">
        <i class="glyphicon glyphicon-pencil"></i> Editar
    </a>
</p>

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>Sucursal:</strong> @(Model.nombreSucursal)</h2>
    </div>   
</div>

    <H2>Departamentos</H2>
    
<p>
    <a href="@Url.Action("Create","Departamentos",new { id = Model.idSucursal })">
        <i class="glyphicon glyphicon-plus"></i> Crear Departamento
    </a>
</p>
        
     <table class="table table-striped table-hover datatablejs">
            <thead>
                <tr>
                    <th>Nombre del Departamento</th>
                    <th>Domicilio</th>                    
                    <th>Activos Disponibles</th>
                    <th>Activos Prestados</th>
                    <th></th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var departamento in Model.Departamentos)
            {
                    <tr>
                        <td>@(departamento.nombreDepartamento)</td>
                        <td>@departamento.domicilio</td>                        
                        <td>@departamento.activosDisponibles()</td>
                        <td>@departamento.activosPrestados()</td>
                        <td>
                            <a href="@Url.Action("Delete","Departamentos",new { id = departamento.departamentoID})">
                                <i class="glyphicon glyphicon-remove"></i> Eliminar
                            </a> <br />
                            <a href="@Url.Action("Details","Departamentos",new { id = departamento.departamentoID})">
                                <i class="glyphicon glyphicon-eye-open"></i> Detalles
                            </a> <br />
                            <a href="@Url.Action("Edit","Departamentos",new { id = departamento.departamentoID})">
                                <i class="glyphicon glyphicon-pencil"></i> Editar
                            </a> <br />                         
                            <a href="@Url.Action("Create","Empleados",new { id = departamento.departamentoID})">
                                <i class="glyphicon glyphicon-plus"></i> Crear Empleado
                            </a>
                        </td>                        
                    </tr>
                }
            </tbody>


        </table>
                    

