@model CampanasDelDesierto_v1.Models.Sucursal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6">
    <a href="@Url.Action("Edit","Sucursales",new { id = Model.idSucursal })">
        <i class="glyphicon glyphicon-pencil"></i> Editar
    </a>
    <a href="@Url.Action("Index","Sucursales",new { id = Model.idSucursal })">
        <i class="glyphicon glyphicon-arrow-left"></i> Volver
    </a>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><Strong>Departamento: </Strong>@(Model.nombreSucursal)</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <dl class="dl-horizontal col-md-6">
                <dt>Numero de Departamentos</dt>
                <dd>@Html.DisplayFor(model => model.Departamentos.Count()) </dd>
            </dl>
        </div>
    </div>
</div>

<div>
    <h4>Sucursal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreSucursal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreSucursal)
        </dd>      

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSucursal }) |
    @Html.ActionLink("Back to List", "Index")
</p>

    <legend>Departamentos</legend>
    
        
     <table class="table datablejs">
            <thead>
                <tr>
                    <th>Nombre del Departamento</th>
                    <th>Domicilio</th>
                    <th>Activos disponibles</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var departamento in Model.Departamentos)
            {
                    <tr>
                        <td>@(departamento.nombreDepartamento)</td>
                        <td>@departamento.domicilio</td>
                        <td>@departamento.activosDisponibles()</td>
                        <td>@Html.ActionLink("Eliminar", "Delete", "Departamentos", new { id = departamento.departamentoID }, null)  </td>
                        <td>@Html.ActionLink("Detalles", "Details", "Departamentos", new { id = departamento.departamentoID }, null)  </td>
                    </tr>
                }
            </tbody>


        </table>
                    
<div>    
    @Html.ActionLink("Crear Departamento", "Create", "Departamentos", new { id = Model.idSucursal }, new { @class = "btn btn-primary" })
</div>
