@model IEnumerable<CampanasDelDesierto_v1.Models.Sucursal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Tabla de Sucursales</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

<table class="table datablejs">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreSucursal)
            </th>
            <th>Departamentos</th>
            <th>Inventarios</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreSucursal)
                </td>
                <td>
                    @item.Departamentos.Count()
                </td>
                <td>
                    @item.Departamentos.Count()
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Sucursales", new { id = item.idSucursal })">
                        <i class="glyphicon glyphicon-pencil"></i> Editar
                    </a><br />
                    <a href="@Url.Action("Details", "Sucursales", new { id = item.idSucursal })">
                        <i class="glyphicon glyphicon-eye-open"></i> Detalles
                    </a><br />
                    <a href="@Url.Action("Delete", "Sucursales", new { id = item.idSucursal })">
                        <i class="glyphicon glyphicon-remove"></i> Eliminar
                    </a>

                </td>
                <td>
                    @Html.ActionLink("Departamentos", "Departamentos", new { id = item.idSucursal },new{ @class = "btn btn-primary"})
                </td>
            </tr>
       
        
            
        
        }
    </tbody>
</table>

        
