@model IEnumerable<CampanasDelDesierto_v1.Models.Sucursal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Tabla de Sucursales</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="datablejs">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreSucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.domicilioSucursal)
            </th>
            <th>Numero de Departamentos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreSucursal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.domicilioSucursal)
                </td>
                <td>
                    @item.Departamentos.Count()
                </td>
                <td>
                    <a href="@Url.Action("Edit","Sucursales",new { id = item.idSucursal })">
                        <i class="glyphicon glyphicon-pencil"></i> Editar
                    </a><br />
                    <a href="@Url.Action("Details","Sucursales",new { id = item.idSucursal })">
                        <i class="glyphicon glyphicon-eye-open"></i> Detalles
                    </a><br />
                    <a href="@Url.Action("Delete","Sucursales",new { id = item.idSucursal })">
                        <i class="glyphicon glyphicon-remove"></i> Eliminar
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('.DataTable').DataTable();
        });
    </script>

}