@model CampanasDelDesierto_v1.Models.Sucursal

@{
    ViewBag.Title = "Inventarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventarios</h2>
   
        <table class="table datablejs">
            <thead>
                <tr>
                    <th>Nombre</th>                   
                    <th>Modelo </th>                    
                    <th>Costo</th>
                    <th>Cantidad</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var inventario in Model.Inventarios)
            {
                    <tr>
                        <td>@(inventario.nombreInventario)</td>
                        <td>@inventario.modeloInventario</td>
                        <td>@inventario.costo</td>
                        <td>@inventario.Activos.Count()</td>
                        <td>@Html.ActionLink("Eliminar", "Delete", "Inventarios", new { id = inventario.inventarioID }, null)  </td>
                        <td>@Html.ActionLink("Ver Activos", "Details", "Inventarios", new { id = inventario.inventarioID }, null)  </td>
                    </tr>
                }
            </tbody>

        </table>
<div>
    @Html.ActionLink("Crear Inventario", "Create", "Inventarios", new { id = Model.idSucursal }, new { @class = "btn btn-primary" })
</div>
