@model CampanasDelDesierto_v1.Models.VentaACredito

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Venta a credito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Productor.nombreProductor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productor.nombreProductor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montoMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.nombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.nombreProducto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idMovimiento }) |
    @Html.ActionLink("volver a la lista", "Index")
</p>
