@model CampanasDelDesierto_v1.Models.VentaACredito
@{ 
    var compras = Model.ComprasProductos;
}

<div class="form-group col-md-4">
    @Html.LabelFor(model => model.pagareVenta, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        <p class="form-control-static">@Html.DisplayFor(model => model.pagareVenta)</p>
    </div>
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(model => model.conceptoDeVenta, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        <p class="form-control-static">@Html.DisplayFor(model => model.conceptoDeVenta)</p>
    </div>
</div>

<div class="col-md-12">
    @*    LISTA DE LOS PRODUCTOS COMPRADOS*@
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th width="10em">
                    @Html.DisplayNameFor(model=> compras.FirstOrDefault().cantidadMaterial)
                </th>
                <th width="20%">
                    @Html.DisplayNameFor(model => compras.FirstOrDefault().producto.nombreProducto)
                </th>
                <th width="10em">
                    @Html.DisplayNameFor(model => compras.FirstOrDefault().producto.costo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => compras.FirstOrDefault().producto.descripcion)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var compra in Model.ComprasProductos)
            {
                <tr>
                    <td width="10em">
                        @Html.DisplayFor(model=>compra.cantidadMaterial)
                    </td>
                    <td width="20%">
                        @Html.DisplayFor(model => compra.producto.nombreProducto)
                    </td>
                    <td width="10em">
                        @Html.DisplayFor(model => compra.producto.costo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => compra.producto.descripcion)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>