@model IEnumerable<CampanasDelDesierto_v1.Models.VentaACredito>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Venta Credito</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Productor.nombreProductor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montoMovimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaMovimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadMaterial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo.nombreActivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Productor.nombreProductor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoMovimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaMovimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadMaterial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo.nombreActivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.balance)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.idMovimiento }, new { @class = "glyphicon glyphicon-pencil" }) |
            @Html.ActionLink(" ", "Details", new { id=item.idMovimiento }, new { @class = "glyphicon glyphicon-eye-open" })|
            @Html.ActionLink(" ", "Delete", new { id=item.idMovimiento }, new { @class = "glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
