@model CampanasDelDesierto_v1.Models.Activo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Details","Inventarios",new { id = Model.CategoriaActivoID })">
    <i class="fa fa-arrow-circle-left"></i> Regresar
</a>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>Eliminar</strong></h2>
    </div>
    <div class="panel-body">
        <h3>¿Estás seguro que quieres eliminar esto?</h3>
        <div class="row">
            <dl class="dl-horizontal col-md-6">
                <dt> @Html.DisplayNameFor(model => model.partidaNumActivo)</dt>
                <dd> @Html.DisplayFor(model => model.partidaNumActivo) </dd>

                <dt> @Html.DisplayNameFor(model => model.codigoActivo)</dt>
                <dd> @Html.DisplayFor(model => model.codigoActivo) </dd>

                <dt>@Html.DisplayNameFor(model => model.descripcionActivo)</dt>
                <dd>@Html.DisplayFor(model => model.descripcionActivo) </dd>

                <dt> @Html.DisplayNameFor(model => model.unidadesActivo)</dt>
                <dd> @Html.DisplayFor(model => model.unidadesActivo) </dd>
            </dl>
            <dl class="dl-horizontal col-md-6">
                <dt> @Html.DisplayNameFor(model => model.mmcUnidades)</dt>
                <dd> @Html.DisplayFor(model => model.mmcUnidades) </dd>

                <dt> @Html.DisplayNameFor(model => model.observacionesActivo)</dt>
                <dd> @Html.DisplayFor(model => model.observacionesActivo) </dd>

                <dt> @Html.DisplayNameFor(model => model.contabilidadActivo)</dt>
                <dd> @Html.DisplayFor(model => model.contabilidadActivo) </dd>
            </dl>
        </div>
        <div class="form-group">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-10">
                        <button class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
