@model CampanasDelDesierto_v1.Models.Activo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <h4>Activo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inventario.nombreInventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventario.nombreInventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreActivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoActivo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()


        <div class="form-group">
            <div class="col-md-10">
                <button class="btn btn-danger">Eliminar</button>
            </div>
        </div>

        <div>
            <a href="@Url.Action("Index")">
                <i class="glyphicon glyphicon-arrow-left"></i>Volver a la lista
            </a>
        </div>
    }
</div>
