@model CampanasDelDesierto_v1.Models.Activo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Activo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreActivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoActivo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idActivo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
