@model CampanasDelDesierto_v1.Models.Activo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a href="@Url.Action("Details","Inventarios",new { id = Model.CategoriaActivoID })">
        <i class="fa fa-arrow-circle-left"></i> Regresar
    </a>
    <a href="@Url.Action("Edit","Activos",new { id = Model.idActivo })">
        <i class="glyphicon glyphicon-pencil"></i> Editar
    </a>

</p>
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>Activo</strong></h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <dl class="dl-horizontal col-md-6">
                <dt> @Html.DisplayNameFor(model => model.partidaNumActivo)</dt>
                <dd> @Html.DisplayFor(model => model.partidaNumActivo) </dd>

                <dt>@Html.DisplayNameFor(model => model.descripcionActivo)</dt>
                <dd>@Html.DisplayFor(model => model.descripcionActivo) </dd>                
            </dl>
            <dl class="dl-horizontal col-md-6">
                <dt> @Html.DisplayNameFor(model=> model.observacionesActivo)</dt>
                <dd> @Html.DisplayFor(model => model.observacionesActivo) </dd>

                <dt> @Html.DisplayNameFor(model => model.contabilidadActivo)</dt>
                <dd> @Html.DisplayFor(model => model.contabilidadActivo) </dd>
            </dl>
        </div>
    </div>
</div>

<h2>Historial de Préstamos</h2>
<table class="table table-striped table-hover datatablejs">
    <thead>
        <tr>
            <th>Nombre Empleado</th>
            <th>Fecha de Prestamo</th>
            <th>Fecha de Entrega</th>
            <th>Fecha de Devolucion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prestamo in Model.PrestamosActivos)
            {
            <tr>
                <td>@(prestamo.Empleado.nombre+" "+prestamo.Empleado.apellidoPaterno+" "+prestamo.Empleado.apellidoMaterno)</td>
                <td>@prestamo.fechaPrestamoActivo</td>
                <td>@prestamo.fechaEntregaActivo</td>
                <td>@prestamo.fechaDevolucion</td>
                <td>
                    <a href="@Url.Action("Delete","PrestamosActivos",new { id = prestamo.idPrestamoActivo})">
                        <i class="glyphicon glyphicon glyphicon-remove"></i> Eliminar
                    </a><br />
                    <a href="@Url.Action("Details","PrestamosActivos",new { id = prestamo.idPrestamoActivo })">
                        <i class="glyphicon glyphicon glyphicon-eye-open"></i> Detalles
                    </a><br />
                    <a href="@Url.Action("Editar","PrestamosActivos",new { id = prestamo.idPrestamoActivo })">
                        <i class="glyphicon glyphicon glyphicon-pencil"></i> Editar
                    </a><br />                    
                </td>
            </tr>
        }
    </tbody>
</table>
