@model CampanasDelDesierto_v1.Models.Activo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a href="@Url.Action("Details","Departamentos",new { id = Model.departamentoID })">
        <i class="fa fa-arrow-circle-left"></i> Regresar
    </a>
    <a href="@Url.Action("Edit","Activos",new { id = Model.idActivo })">
        <i class="glyphicon glyphicon-pencil"></i> Editar
    </a>

</p>
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>Activo</strong></h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <dl class="dl-horizontal col-md-6">
                <dt> @Html.DisplayNameFor(model => model.partidaNumActivo)</dt>
                <dd> @Html.DisplayFor(model => model.partidaNumActivo) </dd>

                <dt>@Html.DisplayNameFor(model => model.descripcionActivo)</dt>
                <dd>@Html.DisplayFor(model => model.descripcionActivo) </dd>                
            </dl>
            <dl class="dl-horizontal col-md-6">
                <dt> @Html.DisplayNameFor(model=> model.observacionesActivo)</dt>
                <dd> @Html.DisplayFor(model => model.observacionesActivo) </dd>

                <dt> @Html.DisplayNameFor(model => model.contabilidadActivo)</dt>
                <dd> @Html.DisplayFor(model => model.contabilidadActivo) </dd>
            </dl>
        </div>
    </div>
</div>

<h2>Historial de Préstamos</h2>
<table class="table table-striped table-hover datatablejs">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.ProductosActivos.FirstOrDefault().noSerie)</th>
            <th>@Html.DisplayNameFor(model => model.ProductosActivos.FirstOrDefault().descripcionActivo)</th>
            <th>@Html.DisplayNameFor(model => model.ProductosActivos.FirstOrDefault().observacionesActivo)</th>
            <th>@Html.DisplayNameFor(model => model.ProductosActivos.FirstOrDefault().fechaPrestamo)</th>
            <th>@Html.DisplayNameFor(model => model.ProductosActivos.FirstOrDefault().fechaDevolucion)</th>
            <th>@Html.DisplayNameFor(model => model.ProductosActivos.FirstOrDefault().fechaEntregado)</th>
            <th>@Html.DisplayName("Actualmente prestado")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var productoActivo in Model.ProductosActivos.Where(proAc=> proAc.prestado() == true))
            {
            <tr>
                <td>@(productoActivo.noSerie)</td>
                <td>@(productoActivo.descripcionActivo)</td>
                <td>@(productoActivo.observacionesActivo)</td>
                <td>@productoActivo.fechaPrestamo</td>
                <td>@productoActivo.fechaDevolucion</td>
                <td>@productoActivo.fechaEntregado</td>
                <td>@productoActivo.prestado()</td>
                <td>                   
                    <a href="@Url.Action("Details","ProductosActivos",new { id = productoActivo.ProductoActivoID })">
                        <i class="glyphicon glyphicon glyphicon-eye-open"></i> Detalles
                    </a><br />                                     
                </td>
            </tr>
        }
    </tbody>
</table>
