@model IEnumerable<CampanasDelDesierto_v1.Models.Activo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Activos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Inventario.nombreInventario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreActivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estadoActivo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Inventario.nombreInventario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreActivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estadoActivo)
        </td>
        <td>
            <a href="@Url.Action("Edit","Activos",new { id = item.idActivo })">
                <i class="glyphicon glyphicon-pencil"></i> Editar
            </a><br />
            <a href="@Url.Action("Details","Activos",new { id = item.idActivo })">
                <i class="glyphicon glyphicon-eye-open"></i> Detalles
            </a><br />
            <a href="@Url.Action("Delete","Activos",new { id = item.idActivo })">
                <i class="glyphicon glyphicon-remove"></i> Eliminar
            </a>
        </td>
    </tr>
}

</table>
