@model IEnumerable<CampanasDelDesierto_v1.Models.Activo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Inventario.nombreInventario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreActivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estadoActivo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Inventario.nombreInventario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreActivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estadoActivo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idActivo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idActivo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idActivo })
        </td>
    </tr>
}

</table>
