@using CampanasDelDesierto_v1.Models
@model CampanasDelDesierto_v1.Models.TemporadaDeCosecha

@{
    bool editMode = Model.TemporadaDeCosechaID > 0;
    ViewBag.Title = (editMode?"Registro":"Edición")+" de Nueva Temporada de Cosecha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a href="@Url.Action("Index")">
        <i class="glyphicon glyphicon-arrow-left"></i>Volver al Historial de Años de Cosecha
    </a>
</div>

<h2>Nuevo</h2>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Año De Cosecha</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TemporadaDeCosechaID)
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.fechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fechaInicio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.fechaFin, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fechaFin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fechaFin, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <fieldset>
            <legend>Precio por tonelada</legend>
            @*MANZANITAS*@
            <div class="form-group col-md-6">
                @Html.LabelFor(model=>model.precioProducto1, new { @class= "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precioProducto1, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       data_mask = "###0.00",
                       data_mask_reverse = "true"
                   }
                })
                    @Html.ValidationMessageFor(model => model.precioProducto1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.precioProducto4, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precioProducto4, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       data_mask = "###0.00",
                       data_mask_reverse = "true"
                   }
               })
                    @Html.ValidationMessageFor(model => model.precioProducto4, "", new { @class = "text-danger" })
                </div>
            </div>

            @*OBLIZAS*@
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.precioProducto2, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precioProducto2, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       data_mask = "###0.00",
                       data_mask_reverse = "true"
                   }
               })
                    @Html.ValidationMessageFor(model => model.precioProducto2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.precioProducto5, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precioProducto5, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       data_mask = "###0.00",
                       data_mask_reverse = "true"
                   }
               })
                    @Html.ValidationMessageFor(model => model.precioProducto5, "", new { @class = "text-danger" })
                </div>
            </div>

            @*MISIONES*@
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.precioProducto3, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precioProducto3, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       data_mask = "###0.00",
                       data_mask_reverse = "true"
                   }
               })
                    @Html.ValidationMessageFor(model => model.precioProducto3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.precioProducto6, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precioProducto6, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       data_mask = "###0.00",
                       data_mask_reverse = "true"
                   }
               })
                    @Html.ValidationMessageFor(model => model.precioProducto6, "", new { @class = "text-danger" })
                </div>
            </div>

            @*MANZANA ORGANICA CABORCA*@
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.precioProducto7, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precioProducto7, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       data_mask = "###0.00",
                       data_mask_reverse = "true"
                   }
               })
                    @Html.ValidationMessageFor(model => model.precioProducto7, "", new { @class = "text-danger" })
                </div>
            </div>

            @*MANZANA ORGANICA BAJA*@
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.precioProducto8, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precioProducto8, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       data_mask = "###0.00",
                       data_mask_reverse = "true"
                   }
               })
                    @Html.ValidationMessageFor(model => model.precioProducto8, "", new { @class = "text-danger" })
                </div>
            </div>
            
            @*OBLIZA ORGANICA CABORCA*@
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.precioProducto9, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precioProducto9, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       data_mask = "###0.00",
                       data_mask_reverse = "true"
                   }
               })
                    @Html.ValidationMessageFor(model => model.precioProducto9, "", new { @class = "text-danger" })
                </div>
            </div>
            
            @*OBLIZA ORGANICA BAJA*@
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.precioProducto10, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precioProducto10, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       data_mask = "###0.00",
                       data_mask_reverse = "true"
                   }
               })
                    @Html.ValidationMessageFor(model => model.precioProducto10, "", new { @class = "text-danger" })
                </div>
            </div>

            @*MISSION ORGANICA CABORCA*@
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.precioProducto11, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precioProducto11, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       data_mask = "###0.00",
                       data_mask_reverse = "true"
                   }
               })
                    @Html.ValidationMessageFor(model => model.precioProducto11, "", new { @class = "text-danger" })
                </div>
            </div>

            @*MISSION ORGANICA BAJA*@
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.precioProducto12, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precioProducto12, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       data_mask = "###0.00",
                       data_mask_reverse = "true"
                   }
               })
                    @Html.ValidationMessageFor(model => model.precioProducto12, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-md-10">
                <button class="btn btn-success">@(editMode? "Guardar" : "Registrar")</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
