@model IEnumerable<CampanasDelDesierto_v1.Models.TemporadaDeCosecha>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Historial de Temporadas</h2>

<p>
    @Html.ActionLink("Nueva Temporada", "Create")
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rangoTiempo)
            </th>
            <th>
                @Model.FirstOrDefault().tipoProducto1
            </th>
            <th>
                @Model.FirstOrDefault().tipoProducto2
            </th>
            <th>
                @Model.FirstOrDefault().tipoProducto3
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.rangoTiempo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precioProducto1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precioProducto2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precioProducto3)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.TemporadaDeCosechaID })
                </td>
            </tr>
        }
    </tbody>

</table>
