@using CampanasDelDesierto_v1.Models
@model IEnumerable<CampanasDelDesierto_v1.Models.TemporadaDeCosecha>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Historial de Temporadas</h2>

<a href="@Url.Action("Create")">
    <i class="fa fa-plus-circle"></i> Abrir nueva temporada
</a>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rangoTiempo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioProducto1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioProducto2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioProducto3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioProducto4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioProducto5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioProducto6)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.rangoTiempo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precioProducto1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precioProducto2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precioProducto3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precioProducto4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precioProducto5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precioProducto6)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.TemporadaDeCosechaID })">
                        <i class="fa fa-pencil"></i> Editar
                    </a> | 
                    <a href="@Url.Action("Details", new { id = item.TemporadaDeCosechaID })">
                        <i class="fa fa-file-excel-o"></i> Importar Datos
                    </a> |
                    <a href="@Url.Action("AdeudosRecuperacion","ReportesProductores", new { id = item.TemporadaDeCosechaID })">
                        <i class="fa fa-list"></i> Reporte de Adeudos y Recuperacion
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>
