@model CampanasDelDesierto_v1.Models.TemporadaDeCosecha

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Temporada: </strong>@Model.rangoTiempo</h3>
    </div>
    <div class="panel-body">
        <div class="form-inline">
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.precioProducto1)
                @Html.DisplayFor(model => model.precioProducto1)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.precioProducto2)
                @Html.DisplayFor(model => model.precioProducto2)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.precioProducto3)
                @Html.DisplayFor(model => model.precioProducto3)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.precioProducto4)
                @Html.DisplayFor(model => model.precioProducto4)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.precioProducto5)
                @Html.DisplayFor(model => model.precioProducto5)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.precioProducto6)
                @Html.DisplayFor(model => model.precioProducto6)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.precioProducto7)
                @Html.DisplayFor(model => model.precioProducto7)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.precioProducto8)
                @Html.DisplayFor(model => model.precioProducto8)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.precioProducto9)
                @Html.DisplayFor(model => model.precioProducto9)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.precioProducto10)
                @Html.DisplayFor(model => model.precioProducto10)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.precioProducto11)
                @Html.DisplayFor(model => model.precioProducto11)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.precioProducto12)
                @Html.DisplayFor(model => model.precioProducto12)
            </div>
        </div>
        <a href="@Url.Action("Edit", new { id = Model.TemporadaDeCosechaID })" class="hidden-print">
            <i class="fa fa-pencil"></i> Editar
        </a>
    </div>
</div>